[2021-07-12 17:08] alek-sentry commented on #3863
@foxgrover can you confirm what permissions your sentry account has? The "Legal and Compliance" settings pane is not available to "Member" user accounts.

[2021-07-12 17:29] alek-sentry commented on #3863
Thanks, @foxgrover

I was able to confirm that viewing the "Legal & Compliance" settings pane requires either "Owner" or "Billing" permissions. Can you try again with an account with either of those permission levels?

[2021-07-12 17:48] foxgrover commented on #3863
We confirmed on the owner account that works. Thanks, Alek.

On Mon, Jul 12, 2021 at 12:29 PM, Alek ***@***.***> wrote:

[2021-07-12 17:52] PeloWriter commented on #3863
Thanks everyone. Looks like this issue is resolved and no Docs update is required.

[2021-07-12 17:52] #3863 closed

[2021-07-12 20:29] PeloWriter commented on #3714
@jennmueng - can you please review? I suspect we need to update both the primary Getting Started page, as well as the Set up page (which is where we expect users who have enabled only errors to go if they want to add performance later).

[2021-07-12 20:34] #3385 closed

[2021-07-13 18:50] mbauer404 opened #3870 "DedupeIntegration is now a default integration"
### Core or SDK?

Platform/SDK

### Which part? Which one?

JavaScript SDK docs

### Description

In version 6.8.0 of the @sentry/browser SDK, the DedupeIntegration was made a default integration. It previously was considered a plugin integration.

https://github.com/getsentry/sentry-javascript/blob/master/CHANGELOG.md#680
https://github.com/getsentry/sentry-javascript/pull/3730

### Suggested Sol

[2021-07-13 21:40] bruno-garcia commented on #3743
This is not longer up-to-date as of version 5.0.0 of the Android SDK (which includes sentry-native 0.4.9).

I also think ideally we'd move notes like:

To the bottom of the page, or a "troubleshooting page. We're on version 5.0.0 already so for limitations of older versions, ideally they wouldn't be the first thing we show on such pages.

[2021-07-13 22:13] O4FDev opened #3874 "Native resetError function"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Sentry Native

### Description

At the moment I’m looking for some idea of what the resetError() function does on Sentry Native in a bit more technical detail.

The best explanation I have right now is: “and gracefully return to a standard component state when reset.”

Thank you to anyone able to help! 🙂

### Suggested Solution

-

[2021-07-13 22:19] getsentry-release commented on #3874
Routing to @getsentry/owners-native for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-07-14 09:21] Swatinem commented on #3874
Are you referring to the react-native Error Boundary? https://docs.sentry.io/platforms/javascript/guides/react/components/errorboundary/

Otherwise I don’t know what you mean. sentry-native does not have anything like that.

[2021-07-14 09:24] O4FDev commented on #3874
Yes,

It's in this piece of code under fallback and in onClick():

[code]

[2021-07-14 10:01] getsentry-release commented on #3874
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-07-14 11:59] AbhiPrasad commented on #3874
The `resetError` API is inspired from https://github.com/bvaughn/react-error-boundary#error-recovery. It simply calls `setState` with the initial error boundary state, which will remove the fallback component and render the children rendered by the error boundary.

[code]

Here is the implementation: https://github.com/getsentry/sentry-javascript/blob/778ad8badc87723b709e6a2b01f50c0f7487c7d6/packa

[2021-07-14 12:16] O4FDev commented on #3874
I don't believe there's anything else with relation to this but if I could just leave it open for a few days? We're using Sentry at work so I want to make sure there's nothing that needs clarification.

Thanks,
Luke.

[2021-07-14 13:41] ueman commented on #3807
Can I get assigned so that I won't forget to do this?

[2021-07-14 18:56] PeloWriter commented on #3874
Yes, we can leave it open for a bit. Let us know if you need more info.

[2021-07-14 21:30] gormus opened #3881 "Versioned Docs"
### Core or SDK?

Platform/SDK

### Which part? Which one?

getsentry/sentry-php

### Description

This is rather a feature request actually.

Due to dependencies, and locked versions, I cannot use the latest Sentry packages in my Drupal project.

I think it would be really helpful to access the documentation relevant to the version I use.

Could you make the documentation site to reflect the sele

[2021-07-15 17:37] cshanes opened #3885 "Incorrect documentation for vue.js performance monitoring automatic instrumentation"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Performance monitoring, automatic instrumentation

### Description

Ran into a couple issues with this page: https://docs.sentry.io/platforms/javascript/guides/vue/performance/instrumentation/automatic-instrumentation/

1. It says to replace the `@sentry/vue` import with `@sentry/browser`, but doesn't tell you to install the @sentr

[2021-07-15 17:59] getsentry-release commented on #3885
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-07-15 18:00] getsentry-release commented on #3870
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-07-15 18:32] AbhiPrasad commented on #3885
Hey thanks for writing in!

Regarding your first point, we do have a note above the import stating:

[code]

This means you can just do `import * as Sentry from "@sentry/vue"` for everything you need. I can see how it can be hard to find though. Maybe @PeloWriter we need to find a way to make this more apparent?

I've opened https://github.com/getsentry/sentry-docs/pull/3886 to address your 2nd po

[2021-07-15 19:30] cshanes commented on #3885
yep I saw that, I'm saying there should be an accompanying note that the user will need to install the package. ie `yarn install @sentry/browser`. Like on this page there is an install step before the code: https://docs.sentry.io/platforms/javascript/guides/vue/performance/

or are you saying the install step is not necessary if I already have `@sentry/vue` installed?

[2021-07-15 19:45] AbhiPrasad commented on #3885
You don't need to install `@sentry/browser` separately, it is a dependency of `@sentry/vue` and everything exported from `@sentry/browser` is also exported from `@sentry/vue`: https://github.com/getsentry/sentry-javascript/blob/master/packages/vue/src/index.ts#L1.

I think we can make this clearer though, just not sure the best place to put it.

[2021-07-15 20:16] PeloWriter commented on #3885
We should state this explicitly in the primer, as we do for the mobile SDKs: https://docs.sentry.io/platforms/flutter/
"Under the hood..."

Alternately, we can provide it as a note, as we do for Gatsby:
https://docs.sentry.io/platforms/javascript/guides/gatsby/
"@sentry/gatsby is a wrapper around..."

[2021-07-15 20:55] AbhiPrasad opened #3889 "Add more tunnel option examples for the JavaScript SDK"
### Core or SDK?

Platform/SDK

### Which part? Which one?

JavaScript SDK

### Description

https://docs.sentry.io/platforms/javascript/troubleshooting/#using-the-tunnel-option

We have a tunnel option exposed in the SDK to help users deal with ad-blockers. There are some improvements we can make to the documentation around this.

### Suggested Solution

1. We should create more server-side code

[2021-07-15 21:00] bruno-garcia commented on #3889
Also note that there's a link to the examples doc:

![image](https://user-images.githubusercontent.com/1633368/125856920-b8dae955-f998-4656-be3b-c0ef831280c3.png)

Which we can add more examples and includes an easy to run JS example consuming the tunnel:

https://github.com/getsentry/examples/tree/master/tunneling

[2021-07-15 22:20] PeloWriter commented on #3807
Hi @ueman - in case you weren't already directed to these resources, we have models and contributor guidelines for these pages:

- Support for Envelopes - add this to the [Migration Guide](https://docs.sentry.io/platforms/flutter/migration/) similar to the [RN content](https://docs.sentry.io/platforms/react-native/migration/#iosmacos)

- Breaking changes - add to [Migration Guide](https://docs.sen

[2021-07-16 07:02] marandaneto opened #3893 "Document variant support for Sentry Android Gradle Plugin"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry android gradle plugin

### Description

Document variant support implemented by https://github.com/getsentry/sentry-android-gradle-plugin/pull/140

### Suggested Solution

Document examples on how to use it in the gradle plugin page https://docs.sentry.io/platforms/android/proguard/#gradle-configuration -> https://github.com/getsen

[2021-07-16 07:04] marandaneto commented on #3893
cc @cortinico in case you fancy it :) otherwise, I can do it once I am back from vacay late this month

[2021-07-16 09:50] kamilogorek commented on #3885
Can we put this issue on hold? There's an open PR for Vue 3 support now, and I'll rework docs slightly once it's merged anyway.

[2021-07-16 10:47] prat-coder opened #3895 "Support for Crash Free sessions on .net sdk"
### Core or SDK?

Platform/SDK

### Which part? Which one?

.net sdk , Report Health

### Description

In the new .net sdk(3.8.0) version , it specifies that user can setup crash free sessions to check the health of the system using sentry. But on the setup page for reporting health, .netsdk is not listed under supported sdks.(https://docs.sentry.io/product/releases/health/setup/)

Please confirm

[2021-07-16 11:16] bitsandfoxes commented on #3895
Hey, thanks for bringing this up.
.NET will be added to the list via https://github.com/getsentry/sentry-docs/pull/3897

[2021-07-16 13:55] #3858 closed

[2021-07-16 14:27] bruno-garcia commented on #3895
Worth noting it's only for Client mode (so only desktop, mobile, not web servers)

[2021-07-16 14:43] #3895 closed

[2021-07-16 17:57] cortinico commented on #3893
I'm quite full at the moment, but I'll keep this in the inbox :) Maybe I find some spare time

[2021-07-19 16:27] PeloWriter commented on #3595
@jennmueng - any docs update required here?

[2021-07-19 22:03] PeloWriter opened #3904 "Create includes for Serverless"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Serverless

### Description

In https://github.com/getsentry/sentry-docs/pull/3830, content updates highlighted the potential value of creating `include` statements for common pieces.

### Suggested Solution

Evaluate which content is common, then create the `include` statements and directories.

[2021-07-19 22:26] imatwawana opened #3905 "improve pricing table in docs"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Pricing

### Description

It's not clear how to read [the pricing table on this page](https://docs.sentry.io/product/accounts/pricing/#faq). Right now, it can read as if there's a relationship between how much reserved capacity you have and how much your on-demand events will be. In fact there's no relation between the two things.

[2021-07-20 14:56] kamilogorek commented on #3885
Closing in favor of https://github.com/getsentry/sentry-docs/pull/3906

[2021-07-20 14:56] #3885 closed

[2021-07-20 15:53] #3216 closed

[2021-07-20 18:59] #3571 closed

[2021-07-21 05:09] jcomo opened #3915 "ErrorBoundary fallback has inconsistent typing"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Javascript / React

### Description

The `fallback` prop of the ErrorBoundary accepts a `React.ReactNode` (or function that returns one), but the body of the render method checks for `isValidElement` (see: https://github.com/getsentry/sentry-javascript/blob/316566ea52e2918d63429336c1ef943d9a674881/packages/react/src/errorboundary.tsx#L163

[2021-07-21 08:17] #3870 closed

[2021-07-21 14:29] getsentry-release commented on #3915
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-07-21 15:20] #3384 closed

[2021-07-21 22:00] #3652 closed

[2021-07-22 09:47] tryadelion opened #3920 "Java 4.3.0 instrumentation, wrong parameters"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Java 4.3.0 instrumentation documentation

### Description

StartTransaction in the java 4.3.0 SDK does not have any variant with bindToScope, seems to be missing.

### Suggested Solution

unknown, is it a documentation error, or a implementation error?

[2021-07-22 10:15] tryadelion commented on #3920
realised it's no longer the newest version - docs are correct for 5.0.1. apologies.

[2021-07-22 10:15] #3920 closed

[2021-07-22 22:57] bjacobson26 opened #3926 ""Token not found" 401 error"
### Core or SDK?

Platform/SDK

### Which part? Which one?

integration-platform

### Description

Why am I receiving the error "Token not found"?

I followed the OAuth steps in this documentation: https://docs.sentry.io/product/integrations/integration-platform/

After generating a token, I expect to be able to call APIs such as "https://sentry.io/api/0/projects/" with a `token`.

I am receiving

[2021-07-23 16:15] getsentry-release commented on #3926
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-07-23 16:19] #3715 closed

[2021-07-23 23:22] manuzope commented on #3926
Hey @bjacobson26, thanks for the detailed report! Are you using Sentry Saas (sentry.io) or an on prem installation? If an on prem installation, which version?

Also, do you have any projects in your organization?

My hunch is that this is a bug and not a documentation problem so would like to get more information on your setup.

[2021-07-25 10:29] onurtemizkan commented on #3615
Related: https://github.com/getsentry/sentry-docs/pull/3693#discussion_r673535991

[2021-07-26 08:56] jennmueng commented on #3595
@PeloWriter, yeah we should choose one or the other, having each example use a different call method makes it confusing and to the untrained user would look like you need to call `configureScope` to clear the user

[2021-07-26 14:26] #3379 closed

[2021-07-26 15:16] #3440 closed

[2021-07-26 15:28] #3382 closed

[2021-07-26 18:20] bjacobson26 commented on #3926
hi @manuzope - we are using sentry sass.

We do have projects for our organization. We're specifically trying to create a Public Integration described here: https://docs.sentry.io/product/integrations/integration-platform/#public-integrations

i am able to receive a token through the oauth process. This returns a token:
[code]

When I try to use the token to make API calls on behalf of the connect

[2021-07-27 13:59] rohitkataria-sentryio opened #3944 "Electron SDK does not support APM but docs have a section on sampling transaction events"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Electron

### Description

Please see: https://docs.sentry.io/platforms/javascript/guides/electron/configuration/sampling/#sampling-transaction-events which talks about sampling transaction events in sentry-electron.

Then please see: https://docs.sentry.io/product/performance/getting-started/  which shows the list of Sentry SDKs that off

[2021-07-27 16:47] hardenchant opened #3945 "SSI vulnerability at example in JS troubleshooting doc for tunnel"
### Core or SDK?

Platform/SDK

### Which part? Which one?

javascript/troubleshooting

### Description

Example on the page https://docs.sentry.io/platforms/javascript/guides/react/troubleshooting/#using-the-tunnel-option (screenshot) contains ssi vulnerability. We can manipulate with dsn header and pass any strings to it. So, attacker can scan domains at internal application network and send req

[2021-07-27 16:48] getsentry-release commented on #3945
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-07-27 16:49] getsentry-release commented on #3944
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-07-27 19:20] #3380 closed

[2021-07-27 19:21] #3381 closed

[2021-07-27 22:46] enahs opened #3948 "https://docs.sentry.io/platforms/javascript/troubleshooting/"
### Core or SDK?

Platform/SDK

### Which part? Which one?

javascript

### Description

suggests i set cors header to
[code]

This is absolutely terrible advice.

### Suggested Solution

below it specifies the domain more specifically. make that the first option. setting CORS header to * basically leaves your customers wide open to XSS

[2021-07-27 22:54] getsentry-release commented on #3948
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-07-28 12:34] marandaneto commented on #3816
@maciejwalkowiak ping in case its not documented yet

[2021-07-28 16:07] imatwawana commented on #3904
Linking this to [issue 3172](https://github.com/getsentry/sentry-docs/issues/3172) as includes currently don't work properly in Product docs

[2021-07-28 17:15] MeredithAnya commented on #3926
Hi @bjacobson26 I'm taking a closer look into this. I have an idea of what might be the problem but I just want to double check:

Are you able to use the token you get from the oauth process on other endpoints that are nested under either the project or organization (i.e. `https://sentry.io/api/0/projects/<org_slug>/<project_slug>/`) ?

I _think_ the problem might be specific to the `/projects/` e

[2021-07-28 20:04] bjacobson26 commented on #3926
Hey @MeredithAnya -

Thank you for your help!

You are right. I am able to use the token for `https://sentry.io/api/0/projects/<org_slug>/<project_slug>/`

What APIs are available to use with this organization token? Is there an API I can use to fetch the organization slug and list of projects for the given token?

[2021-07-29 07:10] MaggotMouth opened #3951 "Unclear/No definition of stat type for event counts in API"
### Core or SDK?

Core Sentry product

### Which part? Which one?

API

### Description

The API endpoints that require you to supply a `stat` query parameter for event counts does not indicate what any of the options mean.

https://docs.sentry.io/api/projects/retrieve-event-counts-for-a-project/
https://docs.sentry.io/api/organizations/retrieve-event-counts-for-an-organization/
https://docs.sentr

[2021-07-29 18:01] MeredithAnya commented on #3926
@bjacobson26  Almost all the API's should be able to work (even the `/projects` one so that is a bug we should fix).

However, the auth tokens for an installation will only ever be tied to one organization so it's recommended that you use endpoints that are nested under `https://sentry.io/api/0/organizations/` (or the project ones if you happen to know the projects)

In order to get the organizati

[2021-07-29 19:00] scefali opened #3956 "Links to Performance Docs by Platfoorm"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Core Sentry

### Description

We use a JSON file (https://docs.sentry.io/_platforms/_index.json) to store metadata around docs for each platform. I am requesting we add information for the performance documentation links in that JSON so we can point to those pages directly in Sentry when we point to performance docs.

### Suggested

[2021-07-29 19:33] bjacobson26 commented on #3926
Ok great, thank you! 🙌

Let me know if there is anything else you need from me to help fix that `/projects` bug.

[2021-07-30 07:20] SevenOutman opened #3957 "`enabled` configuration option not documented"
### Core or SDK?

Platform/SDK

### Which part? Which one?

@sentry/browser

### Description

`enabled` option is missing from [Basic Options](https://docs.sentry.io/platforms/javascript/guides/react/configuration/options/) while it's available in `Sentry.init` method.

### Suggested Solution

Add explanation for `enabled` option and whether it's the recommended way to prevent error capturing in a

[2021-07-30 16:52] getsentry-release commented on #3957
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-07-30 17:55] lobsterkatie commented on #3957
The best way (and only way, in most other SDKs) to disable the SDK in dev is to check the environment before calling `Sentry.init()` - that way there's no overhead.

I'll look into getting it added into the docs.

[2021-08-03 11:15] Lorenzohidalgo opened #3969 "Change PlatformLink behavior so list is constrained to supported SDKs"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Documentation

### Description

At the end of the [User Feedback documentation](https://docs.sentry.io/product/user-feedback/?_ga=2.236532673.1773453541.1627844440-653201474.1626270940) there is a [link ](https://docs.sentry.io/platform-redirect/?next=/enriching-events/user-feedback/) to the supposed configuration documentation. On

[2021-08-03 13:35] maciejwalkowiak opened #3971 "Document OpenFeign integration"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Java

### Description

Related:
https://github.com/getsentry/sentry-java/pull/1632
https://github.com/getsentry/sentry-java/issues/1628

### Suggested Solution

assign to @maciejwalkowiak

[2021-08-03 15:30] #3945 closed

[2021-08-03 15:34] rhcarvalho commented on #3945
@hardenchant thanks for opening the issue.

I've updated the examples in the docs and the examples repo to add a few more safety checks.

[2021-08-03 17:08] PeloWriter commented on #3969
This feature is not currently supported for these platforms. We'll fix the link. Thank you.

[2021-08-03 17:14] PeloWriter commented on #3969
What is happening here is that a user who doesn't yet have a platform in context is directed to the platform picker, which is a comprehensive list. If the user selects a platform that doesn't support the feature, they end in a 404 page.

We need to constrain the list of platforms to those that support the feature. This will require tooling support; adding the "enhancement" label so that it's incor

[2021-08-03 19:08] lobsterkatie opened #3976 "[configuration] Improve transport configuration docs"
### Core or SDK?

Platform/SDK

### Which part? Which one?

multiple

### Description

Two (and a half) issues to fix here:

1\) Some of our SDKs  have a `Transports` section in the main configuration docs. (Here's [the Go one](https://docs.sentry.io/platforms/go/configuration/transports/), for example.) Where those exist, we should link to them in the `transport` entry on the main options page.

[2021-08-04 09:13] HazAT commented on #3944
Thanks for reporting, we'll fix this.

[2021-08-04 09:18] HazAT commented on #3948
Two lines below we also tell you how to set it for a domain.
Feel free to submit a PR if you feel there is more appropriate wording needed.

[2021-08-04 09:18] #3948 closed

[2021-08-04 15:20] getsentry-release commented on #3971
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-04 19:08] #3874 closed

[2021-08-04 23:23] Crypt1cSp0ng3 opened #3983 "Error messages in PHP/Configuration/Sampling"
### Core or SDK?

Platform/SDK

### Which part? Which one?

PHP/Configuration/Sampling

### Description

Under... Setting a Uniform Sample Rate, Setting a Sampling Function, Default Sampling Context Data, Custom Sampling Context Data, Inheritance, Forcing a Sampling Decision... The following message is shown "The platform or SDK you've selected either does not support this functionality, or it is

[2021-08-04 23:24] getsentry-release commented on #3983
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-04 23:25] PeloWriter commented on #3976
@lobsterkatie - which team should I route this to? Seems like it's web platform, yes?

[2021-08-05 00:12] #3846 closed

[2021-08-05 18:52] lobsterkatie commented on #3976
Sure, though anyone with knowledge of the docs structure could do this. They'd perhaps want a little consultation with web-platform on creating the node include, but mostly this is just shoving stuff around and combining a number of different versions of a page into a single version.

[2021-08-05 22:12] bjacobson26 commented on #3926
Hi @MeredithAnya - any update on this?

[2021-08-05 23:42] cortinico commented on #3893
Here you go :) https://github.com/getsentry/sentry-docs/pull/3991

[2021-08-06 00:10] #3851 closed

[2021-08-06 12:55] awbacker opened #3993 "No intialization docs/instructions for C# WPF apps"
### Core or SDK?

Platform/SDK

### Which part? Which one?

C#

### Description

I need to initialize this a WPF app, and the documentation is quite unclear on that.

### Suggested Solution

Please add a section to the WPF documentation discussing how to initialize the SDK explicitly in a WPF app, including access to the DSN in the app.config if that is required.

[2021-08-06 14:09] bruno-garcia commented on #3993
Until we address this, please refer to this example: https://github.com/getsentry/examples/tree/master/dotnet/WpfDotNetCoreCSharp

Also, if you create a project in Sentry, you can select WPF and installation instructions are there:

![image](https://user-images.githubusercontent.com/1633368/128522967-75557b2f-17ea-441a-814b-937a9f006c19.png)

![image](https://user-images.githubusercontent.com/1633

[2021-08-06 17:27] ariccio commented on #3836
Uhh, it's still missing? Eh?

[2021-08-10 03:08] CarsonRedeye opened #3997 "No information is given as to what permission are required for the Auth token for DSYM uploads"
### Core or SDK?

Core Sentry product

### Which part? Which one?

iOS

### Description

Are we supposed to just use trial and error?

### Suggested Solution

Add the required permissions

[2021-08-10 08:59] #3893 closed

[2021-08-10 10:00] georgekallilas opened #4000 "docs: add troubleshooting for Go SDK"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Go SDK

### Description

Please add a troubleshooting section for the [Go SDK](https://docs.sentry.io/platforms/go/), with the below text as body (tranferred from https://help.sentry.io/sdks/configuration/i-m-using-go-and-i-don-t-see-a-stack-trace/)

### Suggested Solution

**I'm using Go and I don't see a stack trace**

Since the Go SDK

[2021-08-10 13:33] getsentry-release commented on #3997
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-11 07:25] marandaneto commented on #3997
does that help? https://docs.sentry.io/product/cli/dif/#permissions

[2021-08-11 10:49] CarsonRedeye commented on #3997
Excellent thanks! Maybe add a link from iOS setup docs

[2021-08-12 07:56] marandaneto opened #4006 "Document --dist param for sentry-cli"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-cli

### Description

Document --dist param for sentry-cli

sentry-cli accepts it already https://github.com/getsentry/sentry-cli/blob/master/src/commands/releases.rs#L215-L219

it mentions --dist in the troubleshooting page https://docs.sentry.io/platforms/javascript/sourcemaps/troubleshooting_js/#verify-artifact-distribution-valu

[2021-08-16 14:10] wanglijie opened #4009 "What does Automatic BreadCrumbs do specifically?"
### Core or SDK?

Core Sentry product

### Which part? Which one?

javascript

### Description

Can anyone please list what behaviors Automatic BreadCrumb includes?
I saw "things like" here https://docs.sentry.io/product/issues/issue-details/#breadcrumbs
"HTTP requests, log statements from the console or server, and DOM (document object model) events."
If then, what kind of DOM events explicitly?

[2021-08-17 12:47] philipphofmann commented on #3997
Thanks, @CarsonRedeye, for reporting this. I added a link at the top of the page.

[2021-08-17 12:57] getsentry-release commented on #4006
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-17 13:04] getsentry-release commented on #4009
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-17 14:07] #3816 closed

[2021-08-17 14:08] lobsterkatie opened #4014 "Document `Allowed Domains` (and add note about local files)"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Project settings

### Description

This started with a question from a customer:

This happens because requests made from a raw html page have neither `origin` nor `referer` headers set, and therefore aren't subject to the `Allowed Domains` filter. Though this is fairly edge-case-y, it still might be worth adding a note to the docs

[2021-08-17 14:42] marandaneto commented on #4006
its a @getsentry/team-webplatform I guess

[2021-08-17 20:01] imatwawana commented on #4014
@matejminar is this something I can assign to you?

[2021-08-17 22:33] thedustyrover opened #4023 "Is there a minimum Sentry Platform version needed to use the fingerprinting features?"
### Core or SDK?

Platform/SDK

### Which part? Which one?

SDK

### Description

Is there a minimum Sentry Platform version needed to use the fingerprinting features? I assume these are up-to-date for SaaS sentry, but was wondering what we needed to be on for self-hosted Sentry.

### Suggested Solution

Add min. Sentry Platform versions to the docs

[2021-08-18 07:43] bruno-garcia opened #4027 "Apple: Add performance monitoring to the wizard"
After the initial steps to add the SDK, lets guide the users through setting up performance monitoring

[2021-08-18 12:02] getsentry-release commented on #4027
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-18 14:10] getsentry-release commented on #4023
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-18 14:19] #3997 closed

[2021-08-18 21:03] noahduncan opened #4031 "Relay settings documentation does not match options in settings"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Relay

### Description

The documentation for Relay does not mesh up with the configuration options I see in my account.  To configure relay the documentation says to add a key in the Relay section of the config, but I don't have a Relay section.  I'm not sure what to do!

Let me know if I can provide any more info to help out!

##

[2021-08-19 09:27] philipphofmann opened #4032 "Add Mobile Vitals Performance Monitoring"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Performance Monitoring

### Description

The performance monitoring page should have a Mobile Vitals page similar to [Web Vitals](https://docs.sentry.io/product/performance/web-vitals/).

### Suggested Solution

Create the page.

[2021-08-19 09:28] getsentry-release commented on #4032
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-19 10:15] #3971 closed

[2021-08-19 10:31] kamilogorek commented on #4023
Fingerprinting is at least 4 years old, and it predates me joining the team, so I assume it's here for almost forever now. I'm not sure about specific version though.

[2021-08-19 12:38] imatwawana commented on #4031
@noahduncan are you on a Business or Enterprise plan? I ask because Relay is only available on those plans, and not on Developer or Team plans.

[2021-08-19 13:18] noahduncan commented on #4031
@imatwawana Aha! Your guess is correct. We are on a Team plan. Thank you!

Now that you say it, I see there is a little note on https://docs.sentry.io/product/relay/ stating that managed mode is only available on Business and Enterprise.  That answers my question, we can set it up in proxy mode, no problem.

However, I still think the documentation is a little unclear.  Maybe emphasizing that note

[2021-08-19 13:42] imatwawana commented on #4032
Met with @bruno-garcia and @Zylphrex and will start working on a draft PR for this using the SDK docs as a the basis

[2021-08-19 14:35] JulianKingman opened #4035 "Uploading source maps, missing information: what are <dist> and <release>?"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-cli, react native

### Description

In this code snippet:
[code]
(from here: https://docs.sentry.io/platforms/react-native/sourcemaps/)
I expect the documentation to explain what `<release>` and `<dist>` are supposed to represent. Even looking in other documentation and issues I can't find an explanation of what these values should

[2021-08-19 14:56] AbhiPrasad opened #4036 "Add documentation for Python Httpx Integration"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-python

### Description

https://github.com/getsentry/sentry-python/pull/1119 Merged in adding an integration for Httpx for Python which is not documented.

### Suggested Solution

We should add docs for this so users can find out about it.

[2021-08-19 14:57] getsentry-release commented on #4036
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-19 15:17] iker-barriocanal opened #4037 "Missing the minimum version on features"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Platform and SDKs

### Description

One can't know which is the minimum required version for a feature described in the docs. This happens in both SDKs and in the platform, and leads to issues like https://github.com/getsentry/sentry-docs/issues/4023. Further, linking the minimum version of both would also help developers not using Sentry

[2021-08-19 15:51] MeredithAnya commented on #3926
@bjacobson26 Fixing the `/projects` endpoint for public integrations is in our backlog, but it's not being actively worked on at the moment. The organization endpoints are definitely the way to go if you want to make your integration public. If you want to make your integration an internal one `/projects` will work for you but you'll need to recreate you integration as an internal one instead (in

[2021-08-19 18:26] noahduncan commented on #4031
Amazing, I see you all are adding some notes to the documentation for relay around the different modes.  Already I understand what to do better.

Thank you!

[2021-08-19 19:46] bjacobson26 commented on #3926
Ok cool. Thank you @MeredithAnya!

[2021-08-19 19:46] #3926 closed

[2021-08-19 19:52] imatwawana commented on #4031
I'm glad things are clearer already! I don't have a timeline for when that issue will get worked on, so in the meantime I'll add/move notes about plans and modes. The note size is fixed, but hopefully adding or moving them will make them more obvious. I'll link that PR to this issue.

We are also working on adding more "empty states" in the application so that folks can see what features they migh

[2021-08-19 21:03] imatwawana commented on #4035
@onurtemizkan - is this something you can look at?

[2021-08-20 12:05] getsentry-release commented on #4006
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-20 13:13] getsentry-release commented on #4035
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-20 15:30] #4031 closed

[2021-08-25 14:22] bruno-garcia commented on #3743
https://github.com/getsentry/sentry-docs/pull/4058/files

[2021-08-25 19:00] marandaneto opened #4061 "Release Management page does not mention about org and project param"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-cli

### Description

https://docs.sentry.io/product/cli/releases/#creating-releases does not mention project and org params

See issue https://github.com/getsentry/sentry-dart-plugin/pull/2

### Suggested Solution

document that project and org params are required on https://docs.sentry.io/product/cli/releases/#creating-releases o

[2021-08-26 13:12] mitsuhiko opened #4070 "Document Request Mode Sessions"
### Core or SDK?

Core Sentry product

### Which part? Which one?

releases

### Description

This page does not explain how server side sessions work: https://docs.sentry.io/product/releases/health/

### Suggested Solution

Add a description of how it works

[2021-08-27 08:29] rbisol opened #4073 "SDK fingerprint reference hardcoded to JS"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Issue grouping

### Description

On the page https://docs.sentry.io/product/data-management-settings/event-grouping/ the SDK Fingerprinting is hardcoded to take the user to JavaScript SDK fingerprint: https://docs.sentry.io/platforms/javascript/usage/sdk-fingerprinting/

### Suggested Solution

Redirect to a platform selector.

[2021-08-27 09:33] #4061 closed, assigned to nobody

[2021-08-27 14:18] #4006 closed, assigned to kamilogorek

[2021-08-28 21:33] Danysan1 opened #4077 "Error in sentry-cli releases documentation"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-cli

### Description

https://docs.sentry.io/product/releases/suspect-commits/#using-the-cli uses this example:
[code]

However, if you use this command you receive an error because apparently `sentry-cli` accepts only one project.
Here is an example from https://gitlab.com/dsantini/open-etymology-map/-/jobs/1543226861 :
[code]

As

[2021-08-28 22:12] Danysan1 commented on #4077
Ok, in https://gitlab.com/dsantini/open-etymology-map/-/jobs/1543273121 I moved the project specification after the "`new`" key and it worked

[2021-08-28 22:12] #4077 closed

[2021-08-30 15:17] #3983 closed

[2021-08-30 16:06] philipphofmann opened #4081 "Apple: HttpInstrumentation only works with NSUrlSession"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Cocoa

### Description

Add info that auto HTTP instrumentation on Apple only works with NSUrlSession and not with NSUrlConnection.

### Suggested Solution

Add this info here https://docs.sentry.io/platforms/apple/performance/instrumentation/automatic-instrumentation/#http-instrumentation.

[2021-08-30 18:16] adhiraj commented on #4070
@mitsuhiko @matejminar who's the most knowledgeable / best person to write this?

[2021-08-31 12:41] getsentry-release commented on #3976
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-08-31 14:22] matejminar commented on #4014
I have no context on this, but I am happy to apply any frontend changes we decide to do.

[2021-08-31 16:45] ahmedetefy commented on #4070
@adhiraj probably me actually

[2021-08-31 17:57] fanley-sentry commented on #4070
Thanks Ahmed.

[2021-09-01 07:30] kieran-osgood opened #4089 "React Native - User feedback documentation"
### Core or SDK?

Platform/SDK

### Which part? Which one?

platforms/react-native/enriching-events/user-feedback/

### Description

I'm trying to implement the user-feedback so I can capture some descriptive information of what was happening at the time of the error to cause it (and I aim to make this available in the aftermath of an error, via a screen I have setup for 'Bug Reports', so once the

[2021-09-01 12:52] bruno-garcia commented on #4089
Agreed we should remove the browser user feedback docs from the react native one.

Sentry.captureUserFeedback isn't available yet on RN. This issue tracks the request:
https://github.com/getsentry/sentry-react-native/issues/500 (please upvote to help us prioritize)

[2021-09-01 12:52] getsentry-release commented on #4089
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-01 13:16] kieran-osgood commented on #4089
Thanks for the speedy response!
I actually mentioned that issue in the original post above as it help piece the info together - and did make sure to upvote - 🤞

[2021-09-01 13:38] #3683 closed

[2021-09-01 16:25] #4081 closed

[2021-09-01 17:53] #4073 closed

[2021-09-02 12:45] marandaneto commented on #3743
https://github.com/getsentry/sentry-docs/pull/4058 has been merged and opened https://github.com/getsentry/sentry-docs/pull/4096 so we can close this issue

[2021-09-02 15:32] lobsterkatie commented on #4014
@imatwawana The first step here is to document the setting (in the docs or help center, not the product), so that we even have a place to think about sticking such a note. (I think it's enough of an edge case that it's not worth putting in the in-product help text.) I don't know who works on Settings documentation, if anyone, but they'd be the person to start with. Then we can talk about how commo

[2021-09-03 06:44] #3743 closed

[2021-09-03 15:17] btseytlinTCP opened #4101 "Android Advanced Data Scrubbing URL Missing"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Android

### Description

Looking for Advanced Data Scrubbing tips for Android. Specifically looking for handling of stacktraces and scrubbing PII/PHI out of it. https://docs.sentry.io/platforms/android/data-management/advanced-datascrubbing/

### Suggested Solution

An updated URL would help. Thank you!

[2021-09-06 19:39] juangarias opened #4107 "Javascript example doesnt work, throws error"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Pluggable Integrations -> CaptureConsole

### Description

Missing full name of CaptureConsole in CDN example:
`...new CaptureConsole(...`

https://docs.sentry.io/platforms/javascript/configuration/integrations/plugin/

### Suggested Solution

`...new Sentry.Integrations.CaptureConsole(...`

[2021-09-07 10:18] HazAT commented on #4023
Closing this since it's hard to back-date. Any reasonable new Sentry self hosted version will support this.

[2021-09-07 10:18] #4023 closed

[2021-09-07 13:20] chadwhitacre commented on #4023
Fwiw this is in-line with [our recommendation on staying up to date](https://develop.sentry.dev/self-hosted/releases/):

I guess you could dredge Git history if you really wanted to, @thedustyrover. If you come up with an answer feel free to post back here for others to find. 🙏

[2021-09-07 13:58] imatwawana commented on #4101
Thanks for the catch! Can you let us know where you found the incorrect URL?

[2021-09-07 14:00] getsentry-release commented on #4107
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-07 14:29] #4107 closed

[2021-09-07 15:32] #4009 closed

[2021-09-07 20:57] imatwawana commented on #4032
This work was completed on [PR 4043](https://github.com/getsentry/sentry-docs/pull/4043)

[2021-09-07 20:57] #4032 closed

[2021-09-08 11:24] seoSergio opened #4114 "Inaccuracy in documentation for NLog "Identify Users".ip_address"
### Core or SDK?

Platform/SDK

### Which part? Which one?

https://docs.sentry.io/platforms/dotnet/guides/nlog/enriching-events/identify-user/

### Description

https://docs.sentry.io/platforms/dotnet/guides/nlog/enriching-events/identify-user/

On this page it's described that to pass IP address of the client it's needed to specify XML attribute ip_address on user XML node. However noticed that

[2021-09-08 12:54] getsentry-release commented on #4114
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-08 17:10] #4070 closed

[2021-09-08 22:23] holloway opened #4122 "Next.js SDK generated files with tokens/secrets?"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Next.js

### Description

On this page https://docs.sentry.io/platforms/javascript/guides/nextjs/ it talks about generated files.

Of the files being generated (`sentry.client.config.js` `sentry.server.config.js` `next.config.js` and `sentry.properties`) it's unclear how secrets/tokens in (eg) `sentry.properties` such as `auth.token` shou

[2021-09-09 08:22] iker-barriocanal commented on #4122
Hi @holloway, thanks for your feedback! This was missing on the getting started page, but should be fixed on https://github.com/getsentry/sentry-docs/pull/4123. If you want to learn more about configuring `sentry-cli`, see https://docs.sentry.io/platforms/javascript/guides/nextjs/manual-setup/#configure-sentry-cli.

[2021-09-09 08:48] #4122 closed

[2021-09-09 16:03] josh-degraw commented on #4114
Yeah, I agree the way the documentation on that page presents it is unintentionally misleading and confusing. It would seem like the page is saying that `ip_address` is the expected xml tag, but that's actually what the sentry api is expecting. Although the page seems to be showing the documentation _specifically_ for `Sentry.Nlog`, it's actually showing the common configuration information across

[2021-09-09 16:24] bruno-garcia commented on #4114
Would be worth expanding on the nlog specific page to talk about the config file approach. But you can also change the common content and add some conditions that things display only on a specific platform. There's a bit of a learning curve to contribute to the docs at that level but there are docs on the matter here: https://docs.sentry.io/contributing/

[2021-09-09 16:50] devnix opened #4125 "How can we add monolog context to Sentry"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry/sentry-symfony package

### Description

In the Symfony integration guide there is some documentation to integrate it with Monolog: https://docs.sentry.io/platforms/php/guides/symfony/

I'm going crazy between closed issues and non-working examples for old versions of the SDK to send a message with Monolog, adding the message's own

[2021-09-09 17:10] imatwawana commented on #4125
@stayallive is this something you can help with?

[2021-09-09 23:18] #4114 closed

[2021-09-10 15:50] ariccio commented on #3836
Hola!

[2021-09-10 17:50] getsentry-release commented on #4125
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-10 19:42] stayallive commented on #4125
@Jean85 / @ste93cry since this is partly Symfony specific are you able to get me some info about how this should work or what should be explained (or maybe even PR this to the docs yourselfs) so we can document this?

[2021-09-10 23:52] bruno-garcia commented on #2919
Done through #3859

[2021-09-10 23:52] #2919 closed

[2021-09-13 08:40] priscilawebdev opened #4137 "Deprecated SDKs migration guides"
### Core or SDK?

Platform/SDK

### Which part? Which one?

"What's new" broadcast

### Description

Recently, some improvements have been implemented in the 'What's New' UI through the PR https://github.com/getsentry/sentry/pull/27711, making it clearer to the user which SDKs are deprecated and should be migrated and which SDKs have a new version and should be updated.

![image](https://user-imag

[2021-09-13 08:48] kamilogorek commented on #3836
Hey @ariccio, we started tracking this docs issue here - https://github.com/getsentry/sentry-docs/issues/4137 so let me close this one so it's easier to keep things in one place. Thanks!
As for the quick tl;dr - there is never a breaking change in the minor/patch releases, so unless you are bumping from v4 to v5 or v6, there should be no update docs necessary.

[2021-09-13 08:48] #3836 closed

[2021-09-13 22:13] thomaspurchas opened #4159 "Where are the `OperationType` Docs"
There seem to be special op types that are render differently in the performance tab, but they don't seem to documented or explained anywhere making it tricky to use them properly in an SDK.

https://github.com/getsentry/sentry-data-schemas/blob/3647b8cab1b3cfa289e8d7d995a5c9efee8c4b91/relay/event.schema.json#L2727

[2021-09-14 06:37] ESTAID opened #4145 "Suggest adding setTags method to Customize Tags field"
## Description

I'm making good use of the documentation you provided. But I was embarrassed because Even though `setTags` type is defined, there was no description of the `setTags` method in [Customize Tags](https://docs.sentry.io/platforms/javascript/guides/react/enriching-events/tags/) field. So I'd like to suggest adding `setTags` method to Customize Tags field.

[2021-09-15 12:57] marandaneto opened #4151 "Document Apollo integration for Java/Android"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Java/Android SDK

### Description

Document the usage of https://github.com/getsentry/sentry-java/pull/1705

### Suggested Solution

Document the usage of https://github.com/getsentry/sentry-java/pull/1705

[2021-09-15 12:57] marandaneto commented on #4151
@maciejwalkowiak

[2021-09-15 14:20] bruno-garcia opened #4153 "Adapt Hub and Scopes docs to cover the mobile platforms"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Mobile

### Description

The current Hub and Scopes docs covers the initial SDK design, including thread-locals and async flows: https://docs.sentry.io/platforms/android/enriching-events/scopes/

### Suggested Solution

In mobile, there's a single, global scope and data set on any thread is included in all events.
We need to pull apart in

[2021-09-15 14:40] getsentry-release commented on #4151
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-15 16:07] warpr opened #4154 "Clarify how to set up performance monitoring"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Performance Monitoring

### Description

I'm trying to setup performance monitoring, but the documentation on how to do this is unclear, the first sentence is:

"The link below" in this sentence is unclear -- there are many links on this page, and none of them seem to enable performance monitoring.

It also mentions this:

But gives no gu

[2021-09-15 18:30] imatwawana commented on #4154
@warpr Thanks for flagging this! The wording of the first sentence does need to be updated as it's meant to point you to the list of supported SDKs below where you can click the appropriate link. Each of those links takes you to the directions for setting up performance for the SDK.

As for the legacy plans issue, I'm tagging the team I think can shed some light here.

[2021-09-15 18:30] getsentry-release commented on #4154
Routing to @getsentry/revenue for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-15 21:03] markstory commented on #4154
:wave: If you see a block like

![Screen Shot 2021-09-15 at 4 57 20 PM](https://user-images.githubusercontent.com/24086/133508555-21f9b5a4-f8d1-4e1f-9131-65f024fe7c31.png)

on your organization's billing overview (the view with your usage chart) you're on a legacy plan that doesn't support transactions. Unless you specifically click on 'Show legacy plans' during checkout you'll only be shown plans

[2021-09-15 21:15] warpr commented on #4154
@markstory The issue is now resolved for me -- I was trying to enable performance monitoring in two accounts:

1. My employers account, where I am a "Manager", so I do not have access to the billing screen.
2. My personal free trial account, which presumably didn't have transaction support because it's a free trial.

In both cases clicking the "Performance" option in the left sidebar menu took me

[2021-09-16 06:55] Jean85 commented on #4125
The point is that by default (and by design as said in ) we do not copy context from Monolog in the base SDK. So we need a basic example for the PHP SDK first, and the we can add on top how to fit that in a Symfony app.

I don't recall exactly what you need to do for the first step, but ping me for the second one.

[2021-09-16 07:00] stayallive commented on #4125
@Jean85 you mean just like this: https://docs.sentry.io/platforms/php/enriching-events/context/ or referring to Monolog specifically or are they the same?

[2021-09-16 07:06] Jean85 commented on #4125
Yes I meant specific code related to Monolog.

Ok I've dug a bit here and there, and here's what I've found:
 * there's a 3rd party package to do it with the older SDK: https://github.com/B-Galati/monolog-sentry-handler but it only adds the exception if found in the context: https://github.com/B-Galati/monolog-sentry-handler/blob/6e34b9e2ad4e196bd2cfe54187b795fea3060e05/src/SentryHandler.php#L97-L

[2021-09-16 13:27] imatwawana commented on #4154
Excellent! I'll keep this issue open until the wording on the main Performance page is updated.

[2021-09-16 13:59] AbhiPrasad commented on #4159
These need to be documented in the develop docs see: https://github.com/getsentry/develop/issues/392. Closing this issue as the doc status for span operations is tracked in the linked issue.

[2021-09-16 13:59] #4159 closed

[2021-09-16 17:52] ste93cry commented on #4125
We do the same, the `exception` key is reserved by Monolog so it's one of the few things we can consider safe

I'm not strongly opposed to this, but I also think that we had good reasons in the past to deny implementing this out-of-the-box. Moreover, it was @untitaker the first one [to suggest](https://github.com/getsentry/sentry-php/pull/844#issuecomment-510120197) that there were similar issues

[2021-09-17 03:44] lobsterkatie opened #4160 "Document how to create a project"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Project creation

### Description

It's fairly obvious in the UI, I'll admit, but it might be worth adding a sentence or two to the Projects product guide telling people how to make a new project, for the folks who are docs-first type learners.

UPDATE: Found it. We should link to this from the projects page: https://docs.sentry.io

[2021-09-17 16:14] Jean85 commented on #4125
Why do you think it's pointless? It seems to me that people are just trying to avoid duplication, by tying Sentry to Monolog and logging just once, but getting the same info in two places (logs and Sentry). Otherwise you're forced to duplicate code everywhere you log something.

[2021-09-20 16:49] untitaker commented on #4125
This is what the Python SDK does, it attaches all logger "context" to sentry extras. However what I would strongly recommend against is to create tags/user context out of logger context.

[2021-09-20 18:27] ste93cry commented on #4125
Because as I told a lot of times, in the logger context you can put a lot of data, from whole entities to punctual information, and copying everything blindly to Sentry just pollutes the information by hiding the interesting things, increase the size of the event to be sent and is more likely to make the server answer with the HTTP status code `413`. I won't oppose if we want to provide the featur

[2021-09-20 19:59] #4154 closed

[2021-09-21 07:21] devnix commented on #4125
Excuse me, I don't want to sound rude, and I will not pollute the issue section with more comments like this: the request is for documentation, and if I was asking for it was not because of laziness, because I've spent a good couple of days of work and personal time because the effort was worth and valuable to me.

At least for me, this argument has been clear enough on each and every one of the i

[2021-09-21 08:23] stayallive commented on #4125
(I have placed some excerpts from https://develop.sentry.dev/sdk/philosophy/ in this comment to clarify a few points)

I have to kind of agree here, I don't see the pushback for an entirely optional feature and/or page in the documentation with just the exact code you can copy/pasta and modify. If you don't like it @ste93cry I can understand, but since it's optional and lot of people do like it I

[2021-09-21 18:53] ivoilic opened #4178 "Vercel Integration Broken for Previews"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Vercel/Nextjs

### Description

After adding the Sentry to my Nextjs project deployed on Vercel and setting up the integration I kept getting an auth error that would cause my builds to fail. This was resolved by making all the variables added to Vercel by Sentry available to the preview builds in addition to the production build. By defa

[2021-09-21 20:56] tiegojo opened #4173 "U not help"
### Core or SDK?

Platform/SDK

### Which part? Which one?

U not help me

### Description

U not help me

### Suggested Solution

U not help me

[2021-09-21 20:57] tiegojo commented on #4173
I'm crying 😭

[2021-09-21 20:57] tiegojo commented on #4173
I'm crying 😭 because my phone is tracking and i noy know my problem

[2021-09-21 21:34] ste93cry commented on #4125
My comment was not directed towards you or anyone in particular, it's just a matter of facts that a lot of time requests being opened without people even reading the documentation or trying on their own before and expecting things to just be laid on the table by someone else

I would expect this to happen because you are logging a message without an exception, aren't you? In that case, since there

[2021-09-22 12:48] getsentry-release commented on #4178
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-23 08:27] rbisol opened #4182 "Localhost link in React-Native doc"
### Core or SDK?

Platform/SDK

### Which part? Which one?

React native

### Description

On this page: https://docs.sentry.io/platforms/react-native/#expo

The link under "Make sure that the version of @sentry/react-native matches what sentry-expo depends on, read more on our troubleshooting page." goes to http://localhost:3000/platforms/react-native/troubleshooting/#expo instead of https://docs

[2021-09-23 12:00] t-h-man opened #4184 "Add Performance docs for Cordova"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Cordova SDK

### Description

According to the [Changelog](https://github.com/getsentry/sentry-cordova/blob/main/CHANGELOG.md) , v1.00 introduced Performance Monitoring

### Suggested Solution

A Performance section needs to be added in the docs

[2021-09-23 13:16] getsentry-release commented on #4184
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-23 16:59] manuzope commented on #4178
Hi @ivoilic, you're right -- the integration only works for production builds. I'll update the docs.

[2021-09-23 19:13] #4182 closed

[2021-09-24 07:14] marandaneto opened #4187 "React Native migration page from 2.x to 3.x"
### Core or SDK?

Platform/SDK

### Which part? Which one?

react-native

### Description

Migration page from 2.x to 3.x is missing
https://docs.sentry.io/platforms/react-native/migration/
https://github.com/getsentry/sentry-react-native/releases

### Suggested Solution

Document if any breaking changes, if none, close the issue

[2021-09-24 07:14] marandaneto commented on #4187
cc @jennmueng

[2021-09-24 07:55] marandaneto opened #4189 "Add performance to Java wizard and its integrations"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-java

### Description

Add performance to Java wizard and its integrations

### Suggested Solution

document them similar to Android https://github.com/getsentry/sentry-docs/pull/4188
Files: https://github.com/getsentry/sentry-docs/tree/master/src/wizard/java

[2021-09-24 07:56] marandaneto commented on #4189
cc @maciejwalkowiak

[2021-09-24 10:23] maciejwalkowiak commented on #4189
Java already has the performance documented - should anything change there?
We can easily add wizard for Spring Boot integration, for Spring (non-boot) setup is more complex so perhaps it just makes sense to link docs?

[2021-09-24 10:58] marandaneto commented on #4189
makes sense to document the spring boot bits and link the performance setup for spring (non-boot).
good idea

[2021-09-24 15:24] imatwawana commented on #4160
Fixed on [PR 4193](https://github.com/getsentry/sentry-docs/pull/4193)

[2021-09-24 15:24] #4160 closed

[2021-09-24 17:05] jennmueng commented on #4187
@marandaneto Putting this as next priority after new react navigation instrumentation

[2021-09-25 10:59] liamjones opened #4195 "React Native: Getting Started - `yarn sentry-wizard` won't necessarily work"
### Core or SDK?

Platform/SDK

### Which part? Which one?

React Native

### Description

The getting started page for React Native (https://docs.sentry.io/platforms/react-native/) has you do the following for yarn:

[code]

and next suggests you run:

[code]

To configure the project. This won't work if you're starting from scratch as you don't have `@sentry/wizard` installed.

### Suggested Sol

[2021-09-27 07:06] rbisol opened #4196 "Add troubleshooting section for Slack integration page"
### Core or SDK?

Core Sentry product

### Which part? Which one?

https://docs.sentry.io/product/integrations/notification-incidents/slack/

### Description

Some issues are common to multiple users and having a troubleshooting option is having a troubleshooting section.

The most recent issue is requests being rate-limited:
<img width="745" alt="Screenshot 2021-09-27 at 09 06 13" src="https://us

[2021-09-27 12:59] marandaneto commented on #4027
https://github.com/getsentry/sentry-docs/pull/4192

[2021-09-27 12:59] #4027 closed

[2021-09-27 14:09] getsentry-release commented on #4195
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-27 14:10] getsentry-release commented on #4196
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-28 18:24] imatwawana commented on #4101
@btseytlinTCP, can you let us know where you found the URL that you indicated?

[2021-09-28 19:22] btseytlinTCP commented on #4101
Hey, sorry I can't find it now!

[2021-09-28 20:02] imatwawana commented on #4101
Ah okay. If you find where the link was broken, feel free to open a new issue. In the meantime, I think this is the content that you were looking for, though it's platform-agnostic:
https://docs.sentry.io/product/data-management-settings/scrubbing/advanced-datascrubbing/

[2021-09-28 20:02] #4101 closed

[2021-09-29 11:30] philipphofmann opened #4206 "Add fallback userID to Capacitor, Cordova, Xamarin, and Unity"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Capacitor, Cordova, Xamarin, and Unity

### Description

Android and Cocoa use the `installationId` as a fallback for the userID if none is set. We should also document this behavior for Capacitor, Cordova, Xamarin, and Unity. For more context see https://github.com/getsentry/sentry-docs/pull/4201

### Suggested Solution

Add the same not

[2021-09-29 14:45] imatwawana commented on #4125
I've tagged this as in the backlog for the moment as it seems like some documentation will need to be created here. @stayallive, are you comfortable having this assigned to you?

[2021-09-29 14:47] stayallive commented on #4125
Yep sounds good. We are working on some SDK changes and I'll make sure the documentation will be updated once those changes are incorporated and I know what it's going to look like 👍

[2021-09-29 20:50] chingc opened #4210 "Missing reference documentation for Python"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Python

### Description

For this instance I was attempting to look up documentation on the `push_scope` context manager.  This naturally led me to this page <https://docs.sentry.io/platforms/python/enriching-events/scopes/> which I know is incomplete because I'm specifically looking for details about setting the scope's fingerprint.

It

[2021-09-29 20:57] imatwawana commented on #4210
Hi @chingc, thanks for raising this. Do you mind if I change the title of your issue to make it easier to triage?

[2021-09-29 20:58] chingc commented on #4210
@imatwawana Thanks for the quick response. Please go right ahead.

[2021-09-29 21:07] getsentry-release commented on #4210
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-09-30 20:09] AbhiPrasad commented on #4210
Hey thanks for writing in. We’ve put this on the backlog to work on, but any PRs to help address this are welcome!

[2021-09-30 22:04] timfish opened #4215 "Electron docs list integrations that are not compatible with the Electron SDK"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Electron

### Description

The `OfflineIntegration` gets included with the Electron docs but that integration is not compatible with the Electron SDK as events are sent from node and that integration is specifically designed to work in the browser.

ref: https://github.com/getsentry/sentry-electron/issues/369

This is mostly a placeholder

[2021-09-30 22:10] AbhiPrasad commented on #4215
Yeah let’s wait till v3 - I’ll backlog this anyway so we’ll make sure it’s in our radar.

[2021-10-01 06:37] #4189 closed

[2021-10-01 17:25] lucas-zimerman opened #4220 "Issue with viewing images"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Seems to affect any page

### Description

As a test visit this page: https://docs.sentry.io/platforms/unity/ open the image and try to go back to the previous page, you'll notice the image will stay on screen and the only way to go back is by F5/refresh.

### Suggested Solution

Not sure how to fix it, my bad :S

[2021-10-01 17:26] lucas-zimerman commented on #4220
https://user-images.githubusercontent.com/8229322/135662176-69d1ce7b-d154-4884-868c-11dc0bb4cfe4.mp4

[2021-10-01 17:27] lucas-zimerman commented on #4220
https://user-images.githubusercontent.com/8229322/135662343-eb8daba8-587e-4571-998f-e4e7e5c46991.mp4

[2021-10-01 19:29] prodoelmit opened #4223 "wasm-split links are deprecated"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Data Management

### Description

There are several pages with links to `wasm-split` tool. Those links are broken

### Suggested Solution

Fresh link is https://github.com/getsentry/symbolicator/tree/master/crates/wasm-split

[2021-10-01 20:00] imatwawana commented on #4223
Thanks for letting us know. I'm pretty sure I've found all the broken ones and I've linked a PR to fix them.

[2021-10-01 20:25] #4223 closed

[2021-10-03 00:36] Daniel15 opened #4225 "Confusing sentence in ASP.NET Core configuration docs"
### Core or SDK?

Platform/SDK

### Which part? Which one?

ASP.NET Core -> Install -> Configure

### Description

This sentence doesn't seem to make sense:

I'm not sure what "would be location" is supposed to mean.

### Suggested Solution

I think it's supposed to be something like this:

---

Your DSN can either be defined inline:
[code]

or via any [configuration provider](https://docs.microso

[2021-10-04 06:54] #4151 closed

[2021-10-04 18:38] #4036 closed

[2021-10-04 18:48] marandaneto commented on #4195
cc @jennmueng

[2021-10-04 23:54] manuzope commented on #4196
Yea, agreed. We should have instructions on how to use the API to set it. Or even make that field visible in the UI once someone hits this error.

[2021-10-06 12:16] laygir opened #4236 "Can not escape/go back after clicking on an image"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Any page with an image

### Description

When an image is clicked on it I am not able to go back or escape from the current screen and stuck there.

### Suggested Solution

Make it possible to go back ;)

https://user-images.githubusercontent.com/772730/136200260-062e0846-4e00-480c-8c45-4e481375e010.mp4

[2021-10-06 12:27] #4236 closed

[2021-10-08 10:43] philipphofmann opened #4246 "Apple Wizard Only Visible in All"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Wizard

### Description

I added performance to the wizard with https://github.com/getsentry/sentry-docs/pull/4192 and removed duplicate wizard pages with https://github.com/getsentry/sentry-docs/pull/4229. Now Apple is only visible in when clicking on All
<img width="977" alt="Screen Shot 2021-10-08 at 12 42 33" src="https://user-

[2021-10-08 10:44] getsentry-release commented on #4246
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-10-11 07:07] Schtailian opened #4254 "Email Delivery IPs"
### Core or SDK?

Core Sentry product

### Which part? Which one?

https://docs.sentry.io/product/security/ip-ranges/#email-delivery

### Description

It does not state if the SendGrid IP addresses under #email-delivery, are only used by Sentry or if other SendGrid clients might use the same addresses.

### Suggested Solution

State in the documentation that the IPs are exclusive to Sentry or that

[2021-10-11 07:40] marandaneto opened #4256 "Add missing integrations to default integrations Apple"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-cocoa

### Description

all default integrations https://docs.sentry.io/platforms/apple/guides/ios/configuration/integrations/default/

### Suggested Solution

add missing integrations eg SentryNetworkTrackingIntegratio, SentryPerformanceTrackingIntegration, SentryAppStartTrackingIntegration and SentryFramesTrackingIntegration

[2021-10-11 16:44] higimo opened #4258 "Silence stack trace do not working"
### Core or SDK?

Core Sentry product

### Which part? Which one?

SDK nextJS

### Description

`sentry.client.config.js`:
[code]

Not working=( I see stack trace in sentry issue and network tabs in my browser.

### Suggested Solution

I want stack trace is off

[2021-10-11 16:52] Alireza-Farahani opened #4259 "Wrong documentation in variant filtering segment"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Android SDK > ProGuard > Variant filtering

### Description

On "[Variant Filtering](https://docs.sentry.io/platforms/android/proguard/#variant-filtering)" segment, the code snippets are wrong. It seems the specified properties are "val"s and can not be re-assigned.

Doc says:
[code]
but when using with gradle Kotlin dsl:
![image](https:/

[2021-10-11 17:18] lobsterkatie commented on #4258
Hi, @higimo.

As explained [in the docs](https://docs.sentry.io/platforms/javascript/configuration/options/#attach-stacktrace), the `attachStacktrace` option only. controls whether or not stacktraces are added to log messages captured using `captureMessage`. Exceptions always have stacktraces attached where possible. To remove those, you'll have to use `beforeSend` to check for and delete `event.e

[2021-10-12 14:14] #4259 closed, assigned to nobody

[2021-10-12 14:50] philipphofmann opened #4263 "Apple: Point out which features use Swizzling"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Apple

### Description

Some customers don't like swizzling because it goes against their quality standards. Hiding that we are using swizzling might drive customers away from us.

### Suggested Solution

We should point out which functionality of the Cocoa SDK is using swizzling and how to disable it.

[2021-10-12 14:50] getsentry-release commented on #4263
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-10-12 15:07] philipphofmann opened #4265 "Duplicate Apple Wizard Pages"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Apple Wizard

### Description

With https://github.com/getsentry/sentry-docs/pull/4264 the wizard pages are duplicated. It would be nice to only have them once for easier maintenance. Related to https://github.com/getsentry/sentry-docs/issues/4246, https://github.com/getsentry/sentry-docs/issues/4192, and https://github.com/getsent

[2021-10-13 13:25] bitsandfoxes opened #4269 "Opened image stays in "fullscreen""
### Core or SDK?

Platform/SDK

### Which part? Which one?

Site itself

### Description

Opening an image on the docs makes it stick. The back button does not work.

![Docs](https://user-images.githubusercontent.com/25725783/137141200-a1566541-8ce5-46df-98ff-d5ebc94e6f99.gif)

Observed on Chrome Version 94.0.4606.81 (Official Build) (x86_64)

### Suggested Solution

Maybe the image loads just as

[2021-10-13 13:31] #4269 closed, assigned to nobody

[2021-10-13 16:32] scefali opened #4270 "Transactions Overview"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Transactions

### Description

Many of Sentry's users are confused about what a transaction is, why they should care about them, and how to effectively manage their quota limits. A docs page dedicated to answering these questions would be very helpful. Such a page would cover the following topics:

- What is a transaction?
- What c

[2021-10-15 09:27] marandaneto opened #4275 "Fix imports for Sentry react native"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry react native sdk

### Description

correct imports for the sentry react native SDK

import is wrong on docs page https://docs.sentry.io/platforms/react-native/enriching-events/tags/

### Suggested Solution

RN sdk should have its own file for https://github.com/getsentry/sentry-docs/tree/master/src/includes/enriching-events/import

[2021-10-15 11:18] samyoo-zhang opened #4276 "Old source map is fail to work, when I upload the new source map release files?"
### Core or SDK?

Platform/SDK

### Which part? Which one?

source map

### Description

We upload the new version of the source map file to the platform. At this time, there are old and new versions of source map files on the platform. Due to cache, some user is still using the old version of the page. At this time, when the user uploads an error to sentry, why can't I find the exact error locati

[2021-10-15 15:13] #4276 closed, assigned to nobody

[2021-10-15 18:10] lobsterkatie commented on #4276
@samyoo-zhang - If everything is working correctly, this is already what happens. I'd suggest reaching out for support: https://docs.sentry.io/support/.

[2021-10-19 12:46] morgz opened #4285 "Add an Edit on Github Button"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Docs

### Description

I wanted to contribute to the documentation. I had to find the repo and then search source code to make the change.

### Suggested Solution

Add an "Edit on Github" button [See example on the Apollo Docs](https://www.apollographql.com/docs/ios/)

[2021-10-19 13:08] #4285 closed, assigned to nobody

[2021-10-19 22:03] #4267 closed

[2021-10-19 22:05] bruno-garcia commented on #4195
We already have it as a dev dependency: https://github.com/getsentry/sentry-react-native/blob/e3d11a1b657f1864af41414dced73394f03e9b23/package.json#L57

It was added in recent versions, could you please verify it works now on a blank project?

[2021-10-19 22:22] chadwhitacre commented on #4206
@bruno-garcia Should this be triaged as "Backlog"?

[2021-10-19 22:22] chadwhitacre commented on #4206
(sentry-docs vs. sentry-[sdk], slightly different label dance, sorry :-/ )

[2021-10-19 22:24] chadwhitacre commented on #4184
Hrm ... need to look into why the label bot didn't remove "Untriaged" 🤔

[2021-10-20 01:35] chadwhitacre commented on #4254
Can you chase down @getsentry/ops on this one, @imatwawana? 🐭

[2021-10-20 11:22] rodolfoBee opened #4290 "Release health is not enabled by default in .NET sdk"
### Core or SDK?

Platform/SDK

### Which part? Which one?

.NET SDK

### Description

Page: https://docs.sentry.io/platforms/dotnet/configuration/releases/#release-health

As commented in the source code, AutoSessionTracking defaults to FALSE instead of TRUE as mentioned in the docs.

https://github.com/getsentry/sentry-dotnet/blob/main/src/Sentry/SentryOptions.cs#L552-L562

### Suggested Solutio

[2021-10-20 11:50] philipphofmann commented on #4290
Thanks for reporting this @rbisol.

[2021-10-21 12:35] #4290 closed, assigned to philipphofmann

[2021-10-21 13:44] #4254 closed

[2021-10-25 15:04] philipphofmann opened #4306 "Apple: Known Issues Page"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Cocoa

### Description

Since 7.2.0, we had a few major bugs in the SDK and we should be transparent about these.

### Suggested Solution

Add a know issues page for different SDK versions so we are transparent about the major bugs we have in our SDK.

[2021-10-25 15:42] jotacv opened #4308 "Missing information in vercel integration docs"
### Core or SDK?

Core Sentry product

### Which part? Which one?

https://docs.sentry.io/product/integrations/deployment/vercel/#project-linking

### Description

Step 1 states _Select a Sentry project and a Vercel project to link together_, but where should I select that? The steps should include a place to start from.

### Suggested Solution

The docs should something like:

1. Go to https://wh

[2021-10-26 13:51] bruno-garcia opened #4312 "Clarify Flutter Web limitations"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Flutter

### Description

Landing page https://docs.sentry.io/platforms/flutter/ says:

### Suggested Solution

We need to clarify what the limitations are.

[2021-10-26 15:41] #4308 closed, assigned to nobody

[2021-10-27 09:19] rbisol opened #4317 "Document data scrubbing options for Relay"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Relay

### Description

The first use case for Relay is data scrubbing (as mentioned here: https://docs.sentry.io/product/relay/#use-cases-for-relay).

The issue is that there is virtually no documentation on "how" to scrub data using relay.

The only line I found is "Relay uses the privacy settings configured in Sentry, and scrubs

[2021-10-27 09:36] philipphofmann opened #4319 "Apple: Clarify CI and Debug for Upload dSYMs Docs"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Apple/Cocoa

### Description

The docs for uploading [dSYMs](https://docs.sentry.io/platforms/apple/dsym/)  doesn't clearly state which setup you should use when developing and which setup in CI.

### Suggested Solution

Clearly state which setup you can use in the following scenarios:
* Debugging locally
* Releasing with CI
* Publishing

[2021-10-28 08:50] marandaneto opened #4325 "RN SDK fails when linking"
### Core or SDK?

Platform/SDK

### Which part? Which one?

React-Native

### Description

react-native-cli: 2.0.1
react-native: 0.66.1

fails when linking https://docs.sentry.io/platforms/react-native/#linking

### Suggested Solution

do we need to still mention linking? https://github.com/react-native-community/cli/blob/master/docs/autolinking.md
if not at all, remove it.
if yes for older versio

[2021-10-28 08:52] #4325 closed, assigned to nobody

[2021-10-28 12:43] philipphofmann opened #4327 "Apple: Guideline for manual steps when swizzling disabled"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Cocoa

### Description

With https://github.com/getsentry/sentry-docs/issues/4263 the docs for Apple point out which features use swizzling. The docs currently don't point out how to achieve the same result without swizzling.

### Suggested Solution

Add some guidelines on how to manually achieve the same result as the swizzling code is d

[2021-10-28 13:35] #4306 closed, assigned to nobody

[2021-10-28 17:15] rhcarvalho opened #4332 "Inconsistent spelling of before-send and before-breadcrumb"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Common

### Description

Extracted from https://github.com/getsentry/sentry-docs/pull/4322.

[code]

### Suggested Solution

It seems that the preferred form is `before-send` and `before-breadcrumb`, so I suggest changing the other spellings (as listed above).

For context, this content is shared across all platforms, and depending on the

[2021-11-02 02:03] azban opened #4344 "Incorrect information about expo-sentry + react-native sdk versions"
### Core or SDK?

Platform/SDK

### Which part? Which one?

react-native

### Description

I was integrating `expo-sentry` and `@sentry/react-native` and followed the following instructions on the docs:

`@sentry/react-native@2.6.2` causes no exceptions or crashes to be emitted to Sentry. However, I added the current dependency based `expo-sentry` and issues started to be emitted again. I'm guessi

[2021-11-02 13:13] getsentry-release commented on #4344
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-11-03 09:25] marandaneto opened #4350 "OOM Detection should address the `exit(code)` issue"
### Core or SDK?

Platform/SDK

### Which part? Which one?

RN SDK and Cocoa SDK

### Description

OOM Detection should address the `exit(code)` issue, that if you use it, you should either turn off the feature or live with false positive

Related to https://github.com/getsentry/sentry-react-native/issues/1830

### Suggested Solution

Add to the heuristics page that you cant use it or live with it

[2021-11-03 10:04] #4263 closed

[2021-11-03 10:31] iker-barriocanal opened #4351 "Inconsistent notes on getting started pages"
### Core or SDK?

Platform/SDK

### Which part? Which one?

All the platforms

### Description

Each platform's getting started page has a different format, which makes them inconsistent:

- Sometimes, the text is bold.
- Sometimes, the note is short.
- Sometimes, the note is long.
- Sometimes, there is no note.

<details>
<summary>Screenshots</summary>

![image](https://user-images.githubusercont

[2021-11-03 18:58] rohitkataria-sentryio opened #4355 "Filtering events on Breadcrumbs does not redirect to correct content"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Enriching events --> Breadcrumbs

### Description

Regardless of the SDK, when we are at: Enriching events --> Breadcrumbs , we see: _For information about what can be done with the hint, see [Filtering Events](https://docs.sentry.io/platforms/python/guides/django/enriching-events/breadcrumbs/)._

Example link: https://docs.sentry.io/plat

[2021-11-04 02:32] moltar opened #4358 "Layer ARN selector is broken"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Lambda layer

### Description

The Lambda layer selector on the doc page seems to be broken.
https://docs.sentry.io/platforms/node/guides/aws-lambda/layer/
https://docs.sentry.io/platforms/python/guides/aws-lambda/layer/

The current selection appears below the cursor (2 places down). And also makes it difficult to select the first option

[2021-11-04 02:32] moltar commented on #4358
Browser is latest Firefox on macOS btw.

[2021-11-04 18:59] rohitkataria-sentryio opened #4363 "Platform redirect missing from Filtering"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Data Management --> Inbound Filters

### Description

When on: https://docs.sentry.io/product/data-management-settings/scrubbing/ and clicking “the SDK documentation”, it takes me to platform redirect.

Similarly, when on https://docs.sentry.io/product/data-management-settings/event-grouping/ and clicking on “using SDK Fingerprinti

[2021-11-04 19:03] untitaker commented on #4363
I wonder if we can lint against this too?

[2021-11-04 19:32] rohitkataria-sentryio commented on #4363
Not sure if this would be a separate issue, but same thing about environments:
On  https://docs.sentry.io/product/sentry-basics/environments/#creating-environments , we see "your SDK, as documented for each SDK" which again takes user to JS specific guide.

If I can be greedy, I would like to see a platform specific  **landing page** that would redirect for any SDK specific implementation, such as

[2021-11-04 19:41] chadwhitacre commented on #4363
(P.S. @rohitkataria-sentryio Any chance you could make your `getsentry` org membership public? That way the bot will avoid applying "Status: Unrouted" in the future. 🙏)

[2021-11-05 01:49] bruno-garcia commented on #4344
I'm not sure it's out of date at this point, but it wasn't long where expo was breaking if upgraded. @jennmueng knew this best, perhaps he can comment

[2021-11-05 17:44] imatwawana commented on #4363
I'm going to go ahead and fix these two instances, but my understanding is that if you've already chosen an SDK in our docs, even if you navigate between product and platform, your SDK selection is maintained. At least that's what we've got indicated in our [contributing docs](https://docs.sentry.io/contributing/linking/#from-product-to-platform) for the use case for a platform redirect. But when

[2021-11-05 18:02] imatwawana commented on #4363
PR to fix links mentioned in above:
https://github.com/getsentry/sentry-docs/pull/4366

[2021-11-08 09:49] untitaker commented on #4363
that would be great behavior, I am not sure if this is currently implemented. it definetly used to work that way at some point, but perhaps before we moved to gatsbyjs. @dcramer probably knows

[2021-11-08 14:57] #4355 closed

[2021-11-08 17:28] untitaker opened #4371 "Stack Trace Rules documentation contains platform-specific code"
### Core or SDK?

Platform/SDK

### Which part? Which one?

https://docs.sentry.io/product/data-management-settings/event-grouping/stack-trace-rules/#considerations-for-sentry-cocoa

### Description

This is an example which shouldn't be in common product docs as it is not relevant for Python, for example.

### Suggested Solution

Consider moving the stacktrace rules page back into platform docs?

[2021-11-08 18:19] #4258 closed

[2021-11-08 21:27] imatwawana commented on #4371
I think we should just move the example back rather than the whole page.

[2021-11-09 13:25] getsentry-release commented on #4371
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-11-11 20:58] silent1mezzo commented on #4270
@scefali are the first two questions answered in https://docs.sentry.io/product/performance/ and https://docs.sentry.io/product/sentry-basics/tracing/distributed-tracing/#traces-transactions-and-spans ?

Definitely agree with things on limits.

re: `What can I do to manage my transaction limit better (ex: sampling)?` curious to hear your thoughts on what more could be added than what's already in

[2021-11-11 21:08] imatwawana commented on #4270
@silent1mezzo & @scefali I suspect that what will end up being part of the solution here is making the [Tracing](https://docs.sentry.io/product/sentry-basics/tracing/distributed-tracing) page a bit more easily digestible. From what I can tell, some of these questions are already answered in the existing content, and I don't know that all of these questions should be answered in one page, but some

[2021-11-12 11:39] hckhanh commented on #3595
I agree,
When I looked at the docs, I thought `Sentry.setUser(...)` and `Sentry.configureScope(scope => scope.setUser(...));` are different.

[2021-11-15 11:07] philipphofmann opened #4389 "Apple: Add Default Context Page"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Apple

### Description

Apple doesn't have a page for Default Context as [Android](https://docs.sentry.io/platforms/android/enriching-events/context/default-context/) does.

### Suggested Solution

Add the Default Context page to Apple. We can use [Android](https://github.com/getsentry/sentry-docs/blob/master/src/platforms/android/common/

[2021-11-15 11:12] marandaneto commented on #4389
Dart/Flutter needs it too

[2021-11-15 21:48] danmichaelo opened #4393 "Document required auth token scopes in Next.js documentation"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Next.js

### Description

https://docs.sentry.io/platforms/javascript/guides/nextjs/manual-setup/ instructs you to use an auth token, but it

* does not link to where to create one
* does not mention which scopes are needed for the token
* does not mention if the token has to be personal or if an organizational token can be used

### Sugg

[2021-11-16 09:28] marandaneto opened #4395 "Rename Android Proguard page to Sentry Android Gradle Plugin"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-java

### Description

https://docs.sentry.io/platforms/android/proguard/ should be renamed to sentry android gradle plugin since the plugin does not do only proguard stuff

### Suggested Solution

rename the page and split up content if necessary

[2021-11-16 09:35] marandaneto opened #4396 "Unify integrations list for Java and Android"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-java

### Description

integrations are all around like https://docs.sentry.io/platforms/android/performance/instrumentation/apollo/
https://docs.sentry.io/platforms/android/configuration/integrations/
or https://docs.sentry.io/platforms/android/performance/instrumentation/automatic-instrumentation/
also similar discussion here htt

[2021-11-16 09:38] marandaneto opened #4397 "Move troubleshooting section to proper troubleshooting page"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-java

### Description

troubleshooting page is a section under some other pages https://docs.sentry.io/platforms/android/using-ndk/#troubleshooting

### Suggested Solution

having its own troubleshooting page like RN -> https://docs.sentry.io/platforms/react-native/troubleshooting/

[2021-11-16 09:48] marandaneto opened #4398 "Missing Connect Services for Android [performance]"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry=java

### Description

https://docs.sentry.io/platforms/android/performance/connect-services/ does not mention OkHttp and Apollo integration which does the distributed tracing

### Suggested Solution

Document that using OkHttp or Apollo integration, this feature is actually possible

[2021-11-16 13:55] getsentry-release commented on #4393
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-11-16 14:37] AbhiPrasad commented on #4393
Thanks for bringing this up. We agree that it can be improved, and we've backlogged the task. In the mean time, PRs and contributions are welcome for anyone who wants to take a look.

[2021-11-16 16:41] imatwawana opened #4406 "platform-agnostic include component for product docs"
### Core or SDK?

Core Sentry product

### Which part? Which one?

All

### Description

Content reuse is an important part of keeping docs scalable long term, but we don't currently have a way to easily reuse content in the product docs in the way that we do the platform docs.

### Suggested Solution

An include component that's not tied to platform at all that can be used in the product docs. Th

[2021-11-17 10:02] rodolfoBee opened #4408 "Add more details to Go migration"
### Core or SDK?

Platform/SDK

### Which part? Which one?

GO

### Description

Page: https://docs.sentry.io/platforms/go/migration/

The raven-go to sentry-go migration guide has some missing details on which of the new features replace old ones. For example SetDefaultLoggerName.

This option is not clearly documented nor which new option(or workaround) replaces its functionality.

### Suggested

[2021-11-17 15:03] getsentry-release commented on #4408
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-11-17 18:31] #3763 closed

[2021-11-17 22:48] rhcarvalho commented on #4408
@rbisol thanks for noting it down. Is this related to https://github.com/getsentry/sentry-docs/pull/4403?

For `SetDefaultLoggerName` specifically I've reviewed the PR and clarified in https://github.com/getsentry/sentry-docs/pull/4403/files#r751697017, there is indeed a mistake in the guide.

If you have other concrete "missing details" in mind, please list them out, otherwise all I see left in t

[2021-11-18 08:39] marandaneto opened #4411 "Blockquotes don't work for the wizard"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-docs

### Description

Blockquotes don't work when used on the wizard

it should have worked tho since native markdown is described as supported in the docs page https://docs.sentry.io/contributing/onboarding-wizard/

### Suggested Solution

find a replacement that works for the wizard and replace it in all the wizard files
eg http

[2021-11-18 08:39] marandaneto commented on #4411
@imatwawana can you help us with that? thanks

[2021-11-18 20:25] souredoutlook commented on #4371
Hey @imatwawana - @chadwhitacre asked me to remove the `Status: Untriaged` label from this Issue because it was raised internally. Let me know if this is problematic for you.

[2021-11-18 20:28] imatwawana commented on #4371
Not a problem!

[2021-11-18 20:30] rmtobin opened #4415 "Missing imports in example code in React documentation"
### Core or SDK?

Platform/SDK

### Which part? Which one?

React

### Description

Most places in the React documentation do include the required imports for code samples (usually when the import is just `import * as Sentry from '@sentry/react'`), but occasionally they are missing. I first noticed this in [Performance Monitoring -> Custom instrumentation](https://docs.sentry.io/platforms/javascri

[2021-11-18 20:37] souredoutlook commented on #4344
Hey @bruno-garcia, @chadwhitacre asked me to remove the `Status: Untriaged` label from this given that it's moved to `Needs Discussion`. Let me know if this is problematic for you.

[2021-11-18 20:50] imatwawana commented on #4411
I'll do some research and see what I can find.

[2021-11-18 21:18] chadwhitacre commented on #4411
(P.S. @marandaneto Can you make your [org membership public](https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/publicizing-or-hiding-organization-membership)? That way the bot won't drop you into the routing/triage queue. 🙏 )

[2021-11-18 21:41] getsentry-release commented on #4415
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-11-19 00:44] rhcarvalho commented on #4415
@rmtobin thanks for filling this issue.

`SpanStatus` comes from `@sentry/tracing`. Would you like to contribute a pull request with an improvement?

The two files that refer to `SpanStatus` are:

- https://github.com/getsentry/sentry-docs/edit/master/src/includes/performance/add-spans-example/javascript.mdx
- https://github.com/getsentry/sentry-docs/edit/master/src/includes/performance/retrieve-t

[2021-11-19 07:37] jennmueng commented on #4344
We can remove this note now was expo was updated.

[2021-11-19 08:22] marandaneto commented on #4411
@chadwhitacre TIL, thanks

[2021-11-19 09:07] philipphofmann commented on #4371
I wonder how this is visible for every platform. This should only be visible for Cocoa. I want to keep it there, but only have it visible for Cocoa. Will fix this.

[2021-11-19 09:17] #4344 closed

[2021-11-19 09:23] marandaneto commented on #4371
the content requires adding that section with a conditional `supported` tag

[2021-11-19 09:27] philipphofmann commented on #4371
I think there were some changes to the docs. In the past, I could navigate to issue grouping with that link https://docs.sentry.io/platforms/apple/data-management/event-grouping/sdk-fingerprinting/. Why don't I see `Issue Grouping` anymore when I select a platform? I'm not sure where to put it now.

[2021-11-19 10:21] untitaker commented on #4371
https://docs.sentry.io/platforms/python/usage/sdk-fingerprinting/

it's now nested under Data Management, that should be reachable further down. but also you are linked to issue grouping from sdk fingerprinting

Correct me if I'm wrong, but I think this is not possible in this page, as it lives outside of `/platforms/`. When you visit the link in the OP the system would not have enough context to

[2021-11-19 10:26] untitaker commented on #4371
Ways forward I see is either:

a. move the issue grouping section back into /platforms/, which is the only place where we can show/hide stuff on platforms
b. move the example someplace else. I would prefer this because there's always churn associated with restructuring things.

This is how plan B could look like:

1. sdk fingerprinting as platform page
2. "grouping considerations for <platform>" a

[2021-11-19 21:55] imatwawana commented on #4411
There's no reason this component shouldn't render in a markdown file, so I suspect this is being caused by the interaction between the frontend code and the markdown file. It's been suggested that there might be missing CSS. I've opened an issue on that repo: https://github.com/getsentry/sentry/issues/30126

[2021-11-21 00:48] alvindizon opened #4421 "Purpose and objective of Proguard documentation is unclear"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Android SDK

### Description

I was looking at Sentry and noticed that our logs were obfuscated (as expected, since we're using Proguard/R8), and noticed a little helper saying that "some frames are minified". I was then led to the Proguard docs [here](https://docs.sentry.io/platforms/android/proguard/). Reading the whole section, I never

[2021-11-21 15:38] stayallive commented on #3573
I think this issue can be closed since all snippet have been filled in by now 💪

[2021-11-21 15:40] stayallive commented on #3351
This can be closed too since the docs now reflect the requested changes.

[2021-11-22 08:16] ankur99 commented on #3720
any update on this issue?????

[2021-11-22 12:52] refael-asraf-fiverr opened #4424 "Next.js Sentry setuser"
### Core or SDK?

Platform/SDK

### Which part? Which one?

https://docs.sentry.io/platforms/javascript/guides/nextjs/enriching-events/identify-user/

### Description

We are using next-auth for handling auth.
I didn't understand the main places that I needed do Sentry.setUser
for adding the current user for all the sentry events.
Right now, I do that on the `_error` page and the `_app` page.
If y

[2021-11-22 14:58] getsentry-release commented on #4421
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-11-22 15:03] getsentry-release commented on #4424
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-11-22 15:09] marandaneto commented on #4421
I agree, thanks for reporting @alvindizon , we don't really state the problem that the plugin/sentry is aiming to solve
@imatwawana can you help us with that?

https://github.com/getsentry/sentry-docs/pull/4425 this PR is actually addressing something similar to that, for RN Apps, that also require the plugin setup

[2021-11-22 16:01] marandaneto commented on #4395
when doing that, don't forget to add a redirection to the current url

[2021-11-22 16:18] imatwawana commented on #3573
Is this the work you've done on your PR [4422](https://github.com/getsentry/sentry-docs/pull/4422)?

[2021-11-22 16:20] stayallive commented on #3573
No this was already done before, if you click the links from the original post:

- https://docs.sentry.io/platforms/php/configuration/sampling
- https://docs.sentry.io/platforms/php/configuration/filtering

You can see all the snippets are already present, I think I missed this issue when I PR'ed those :)

[2021-11-22 16:21] imatwawana commented on #3573
Ah okay. Got it!

[2021-11-22 16:21] #3573 closed

[2021-11-22 18:49] imatwawana commented on #4371
I agree that plan B is the way to go, since we already have a common SDK Fingerprinting platform page. @untitaker, do we only need this "Grouping Considerations" platform page that you're proposing to accommodate this SDK or do you anticipate this being something we need for several SDKs? If it's just for this situation, I wonder if we don't just add a platform section to the existing SDK Fingerpr

[2021-11-23 04:18] richardhao1995 opened #4426 "React Functional Component initialization"
### Core or SDK?

Platform/SDK

### Which part? Which one?

React

### Description

When trying to initialize a test error for Sentry through React, the test code of

`return <button onClick={methodDoesNotExist}>Break the world</button>;`

doesn't work in a functional component since it won't compile within React.

Is there another way to send the first test error and initialize Sentry? I'm using

[2021-11-23 11:12] untitaker commented on #4371
Yes that suggestion also makes sense. Up to @philipphofmann

[2021-11-23 13:23] AbhiPrasad commented on #4426
Are you using typescript or do you have strict eslint rules set up? This might be what is preventing the bundle from being generated. [Running a quick repro, we can see that the error seems to be captured fine](https://codesandbox.io/s/romantic-borg-keo6c?file=/src/index.js) (it's being logged to the console).

We did it this way so that things would break as soon as you open your application, ins

[2021-11-23 21:07] marandaneto opened #4431 "Update the `upload-proguard` for Proguard"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-docs

### Description

related to this page https://docs.sentry.io/product/cli/dif/#proguard-mapping-upload
`--write-properties` should be deprecated since it adds more complexity

### Suggested Solution

deprecate or remove `--write-properties`

and add a new suggestion, eg:

[code]

`--uuid` can also be ignored, but then the user

[2021-11-23 22:10] #4411 closed

[2021-11-24 08:52] marandaneto commented on #4395
the current tasks of the plugin are:

Proguard mapping generation and uploading
Native Debug symbols and source bundle uploading
Auto instrumentation (Performance)

[2021-11-24 12:52] marandaneto commented on #3313
isnt this already done @bruno-garcia @bitsandfoxes https://docs.sentry.io/platforms/unity/ ?

[2021-11-24 12:56] marandaneto commented on #3299
RN now has it https://docs.sentry.io/platforms/react-native/upload-debug/
Flutter has it https://docs.sentry.io/platforms/flutter/upload-debug/
Apple has it https://docs.sentry.io/platforms/apple/dsym/

[2021-11-24 12:56] #3299 closed

[2021-11-24 16:54] philipphofmann commented on #4371
I agree with @imatwawana. Will open up a PR for adding a platform page to https://docs.sentry.io/platforms/apple/usage/sdk-fingerprinting/.

[2021-11-24 17:16] philipphofmann commented on #4371
Just realized the content doesn't really fit the SDK Fingerprinting page because it's about marking frames as in-app or not. Therefore I created an extra page for it.

[2021-11-24 17:19] philipphofmann commented on #4371
Thanks for pointing this out by the way @untitaker 👏 .

[2021-11-24 18:41] #3351 closed

[2021-11-25 09:28] bitsandfoxes commented on #3313
@marandaneto, yes! The docs have been replaced and the Unity Lite SDK is now relegated to the migration page.

[2021-11-25 09:28] #3313 closed

[2021-11-25 16:03] imatwawana opened #4438 "Add sections to Releases content for key concepts"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Releases

### Description

We have [issues content](https://docs.sentry.io/product/issues/states-triage/#resolve) linking to a [GitLab integrations page](https://docs.sentry.io/product/integrations/source-code-mgmt/github/#resolve-via-commit-or-pull-request) to explain the concept of resolving issues with a commit because there's n

[2021-11-26 04:26] richardhao1995 commented on #4426
I am not using typescript, I do actually get the same error as the repro link however Sentry was not receiving the error.

[2021-11-26 04:26] #4426 closed

[2021-11-27 03:59] mstange commented on #3299
Is there a plan to still have pages that have the information for all the platforms? For example, https://docs.sentry.io/platforms/apple/data-management/debug-files/symbol-servers/ currently describes the directory structures of various types of symbol servers across all platforms, and such a complete list is a really useful resource to have.

[2021-11-28 07:32] marandaneto commented on #3299
@mstange that's a common page across all the SDKs, See https://docs.sentry.io/platforms/android/data-management/debug-files/symbol-servers/
if there's something missing, please let us know so we can work on it :)

[2021-11-30 08:21] #4371 closed

[2021-12-01 18:39] kj800x opened #4454 "Connect Services for React Native page is unclear"
### Core or SDK?

Platform/SDK

### Which part? Which one?

react-native

### Description

My goal was to learning more about XHR instrumentation in the React Native Sentry SDK, specifically if configuring `tracingOrigins` could break my app due to CORS issues. Since React Native uses a different CORS model, I am unsure if the CORS issues that have been [reported for Sentry web](https://github.com

[2021-12-01 19:04] getsentry-release commented on #4454
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-01 20:16] jamesdynes opened #4456 "Python AWS Lambda Layer missing ARN"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Python AWS Lambda

### Description

On this page : https://docs.sentry.io/platforms/python/guides/aws-lambda/layer/

I would expect and ARN to be defined. I'm assuming Sentry provides a public layer to add to a lambda, but it is not in the screenshot or the text.

### Suggested Solution

Add the appropriate ARN to the screenshot or the te

[2021-12-01 20:17] #4456 closed

[2021-12-01 20:18] jamesdynes commented on #4456
Due to https://github.com/getsentry/sentry-docs/issues/4358 I didn't see it.

[2021-12-02 07:13] BestAndroider opened #4459 "how to view Breadcrumb?"
### Core or SDK?

Platform/SDK

### Which part? Which one?

x

### Description

i add a breadcrumb in my code，but i can not fund how to find them in the sentry website,where is my breadcrumb,the document tells me how to add breadcrumb in my code ,but do not tells me how to find them, and i find them for a long time but.......

### Suggested Solution

the document should be not only tells people ho

[2021-12-02 08:15] marandaneto commented on #4454
@kj800x thanks for reporting, the RN SDK inherits the page from the JS SDK, which makes sense most of the time, but not all the time, we'll look into it, thanks.

[2021-12-02 14:31] imatwawana commented on #4459
Hi @BestAndroider, on the Breadcrumbs setup page, the text below is at the top of the page, but do you think it would be helpful to have a reminder at the bottom of the page, after you finish the setup?

![2021-12-02_09-28-43](https://user-images.githubusercontent.com/76437239/144441558-e57fd84e-b041-4c26-8276-a5850edc0449.png)

[2021-12-03 08:45] marandaneto opened #4461 "Make RN docs RN friendly"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-docs

### Description

RN docs inherit a lot from JS docs, but its not always the same, code snippets also change.it's

eg https://github.com/getsentry/sentry-docs/pull/4457

### Suggested Solution

make RN docs RN friendly, add missing RN code snippets, with proper importing and semantically correct code snippets

[2021-12-03 13:38] marandaneto commented on #4461
related to https://github.com/getsentry/sentry-docs/issues/4454

[2021-12-03 13:45] marandaneto commented on #4089
I believe we should hide this page from RN for now till the feature https://github.com/getsentry/sentry-react-native/issues/500 lands on RN natively.

[2021-12-06 10:29] marandaneto commented on #3611
this page should be available for the Mobile SDKs at least, @imatwawana can you help us with that? The mobile team can help with that.
TLDR: we need to pass the message that Sentry does not recommend/support the usage of our SDKs in 3rd libraries/SDKs.

[2021-12-06 10:36] marandaneto commented on #4395
we could have 2 items on the left top menu, called ProGuard and Sentry Android Gradle Plugin, the ProGuard actually redirects to the Sentry Android Gradle Plugin, and there we describe all the features of the plugin, mentioned above https://github.com/getsentry/sentry-docs/issues/4395#issuecomment-977662999

[2021-12-06 13:33] rodolfoBee opened #4468 "Add MAX result per page options"
### Core or SDK?

Core Sentry product

### Which part? Which one?

API

### Description

API docs don't describe how to edit the default 100 results per page.
https://docs.sentry.io/api/

### Suggested Solution

Explain how to change the default value and on which endpoints it is supported.

[2021-12-06 14:39] getsentry-release commented on #4468
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-06 15:29] #4089 closed

[2021-12-06 19:00] imatwawana commented on #3611
Three options depending on how much content this is:

If you need an entire page for this content and the content is identical, I'd suggest creating a container page for each mobile SDK like so:
platforms/android/common/libraries (or whatever it makes sense to call this page)
And then put the actual content in an include that you can drop into the page.
This seems like the best way to go if this i

[2021-12-06 21:37] yuval-sentry opened #4471 "Issue Owner rules take precedence over CODEOWNERS"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Issue Ownership Rules

### Description

A frequent question that we keep getting from clients is what takes precedence, Issue Owner rules or CODEOWNERS?
The answer is that Issue Owner takes precedence, we should add that to our docs:
https://docs.sentry.io/product/issues/issue-owners/

### Suggested Solution

A frequent question th

[2021-12-07 08:31] marandaneto commented on #3611
thanks, @imatwawana that's indeed good suggestions, I'll discuss with the team which one makes more sense.

[2021-12-07 08:51] marandaneto opened #4472 "Document Dart logging integration"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-docs

### Description

Missing Dart logging integration https://github.com/getsentry/sentry-dart/pull/631

### Suggested Solution

Document Dart logging integration https://github.com/getsentry/sentry-dart/pull/631

[2021-12-07 08:52] getsentry-release commented on #4472
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-07 08:53] marandaneto commented on #4472
it should also be added to the release registry https://github.com/getsentry/sentry-release-registry/tree/master/packages/pub

we should add an integration subpage for Dart/Flutter as we have for Android/Java https://docs.sentry.io/platforms/android/configuration/integrations/

[2021-12-07 08:56] marandaneto commented on #4472
@ueman would you like to do it? :P

[2021-12-08 22:26] sdzhong opened #4479 "Update Auto-Assign details"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Auto-Assign

### Description

The docs https://docs.sentry.io/product/issues/issue-owners/#auto-assign currently says,

We should correct this outdated information. Context in [this Slack thread](https://sentry.slack.com/archives/CD4NYFD34/p1638993935351400).

### Suggested Solution

The user/team that will be assigned follows the

[2021-12-08 22:54] getsentry-release commented on #4479
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-08 22:56] #4471 closed

[2021-12-09 09:56] romtsn opened #4480 "Document usage of manifest placeholders for Android SDK setup"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Android

### Description

Document usage of Manifest placeholders for Android SDK to be able to inject build variables into AndroidManifest, so that Sentry can be configured depending on build types, flavours, other build logic.

### Suggested Solution

Android has a concept of [Manifest placeholders](https://developer.android.com/studio/

[2021-12-09 09:56] getsentry-release commented on #4480
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-09 10:27] marandaneto commented on #4480
@romtsn always remember to assign the project otherwise it's not visible on our board.

[2021-12-09 10:39] romtsn commented on #4480
oh yeah, I somehow mixed it up with the `Team: Mobile Platform` label

[2021-12-10 11:06] rbisol opened #4483 "Create a plan comparison page"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Pricing

### Description

Currently, the only comparison page available is the https://sentry.io/pricing/ page, which is not very clear on which features are available on each plan.

### Suggested Solution

Create and maintain a features comparison page, similar to this from Google Workspace: https://support.google.com/a/answer/604

[2021-12-11 16:19] wimpair92 opened #4487 "dziobak92"
### Core or SDK?

Platform/SDK

### Which part? Which one?

https://96d28f44c56c4477b7f156abac434a6e@o1088680.ingest.sentry.io/6103444

### Description

12

### Suggested Solution

a

[2021-12-11 16:19] #4487 closed

[2021-12-13 14:49] romtsn commented on #3611
let's add this to TSC and discuss whether this should be visible for every SDK

[2021-12-13 16:04] untitaker commented on #3837
@imatwawana do you have a rough idea of where the search bar could be on mobile?

[2021-12-13 18:03] imatwawana commented on #3837
Let's go with this placement:
![2021-12-13_13-02-40](https://user-images.githubusercontent.com/76437239/145864650-a50dec51-df7b-4d07-b9a4-5707def8e220.png)

[2021-12-13 22:08] manuzope commented on #4479
Yea definitely agree.

[2021-12-13 22:09] manuzope commented on #4479
We're going to change a lot of the codeowner/issue owner docs so going to add this feedback to the ticket we're using to track this. cc: @NisanthanNanthakumar

[2021-12-15 11:11] liamjones opened #4496 "maxBreadcrumbs limit unclear"
### Core or SDK?

Platform/SDK

### Which part? Which one?

React Native

### Description

There seems to be some inconsistency on documentation of `maxBreadcrumbs` and what a potential max limit is.

https://docs.sentry.io/platforms/react-native/configuration/options/#max-breadcrumbs states that 100 is the default but says nothing about a maximum.

The sample app seems to think it can be increase

[2021-12-15 15:00] andrejromanov opened #4498 "CVE-2021-44228 (Log4j) | Add information if customers should update any Sentry libraries"
### Core or SDK?

Core Sentry product

### Which part? Which one?

General

### Description

Critical CVE-2021-44228 (Log4j) https://nvd.nist.gov/vuln/detail/CVE-2021-44228 was reported several days ago.
I didn't find any information how it can impact on Sentry customers and which actions should be done by customers to overcome impact

### Suggested Solution

Please add information to documentatio

[2021-12-15 15:06] philipphofmann opened #4499 "Clarify Expectations of OOM"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Apple

### Description

In https://github.com/getsentry/sentry-cocoa/issues/1152 a user complained that the OOM errors of Cocoa have a wrong user ID.

### Suggested Solution

We should clarify the expectation of OOM that it is not a normal Sentry event and the context like userID might not be accurate.

[2021-12-15 15:30] getsentry-release commented on #4496
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-15 15:52] imatwawana commented on #4498
Hi @andrejromanov, Sentry's SaaS product is not directly impacted by the log4j vulnerability CVE-2021-4428. If that changes, this Twitter thread will be updated: https://twitter.com/getsentry/status/1470502636394852355

[2021-12-15 15:52] #4498 closed

[2021-12-15 20:39] imatwawana commented on #4498
Adding this here as well. Just published: https://blog.sentry.io/2021/12/15/sentrys-response-to-log4j-vulnerability-cve-2021-44228

[2021-12-15 23:13] chadwhitacre opened #4506 "Remove BYK from sentry-docs releases"
Discovered during https://github.com/getsentry/self-hosted/issues/1193. @BYK's name is still on e.g. https://github.com/getsentry/publish/issues/702. Let's swap that out. I checked the other components of the self-hosted release and they are all under my name:

getsentry/publish#699 getsentry/publish#700 getsentry/publish#701 getsentry/publish#704

[2021-12-16 14:23] philipphofmann opened #4503 "Clarify Behaviour When Setting User to nil"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Cocoa

### Description

We sometimes get questions on why people can't completely remove the user from the event. Sometimes people are afraid that the `installationID` is PII. is The warning what happens when you set the user to `nil` is above the code sample. My assumption is that some people don't see this.

<img width="763" alt="Screen

[2021-12-16 14:24] getsentry-release commented on #4503
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-16 20:00] chadwhitacre commented on #4506
Transferred and added to https://github.com/getsentry/self-hosted/issues/1206 to get done before the next release. 👍

Thanks for all your help @byk! 😁 💃 🙏

[2021-12-16 23:01] imatwawana opened #4509 "Link styling in main navigation doesn't always make links obvious"
### Core or SDK?

Core Sentry product

### Which part? Which one?

This applies to all docs

### Description

Per @armcknight

1. The section headers in the left side navigation are not obviously links. In addition, the breadcrumb navigation relies entirely on colour/weight changes to indicate that they are links (vs underlining), which can be confusing since folks might think it's simply emphasiz

[2021-12-16 23:08] imatwawana commented on #4509
@stevenplewis what do you think?

[2021-12-17 14:53] drjayvee opened #4510 "General Releases / Health page claims sessions are submitted to Sentry"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Releases / Health

### Description

The Releases / Health's [Session section](https://docs.sentry.io/product/releases/health/#session) states

Our PHP app does have session stats in the Release Details page, so I assumed that the PHP SDK submits session data. (We were having some performance problems in our backend, so I investigat

[2021-12-17 14:59] getsentry-release commented on #4510
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-17 19:24] adrianestran commented on #3611
@sagrawal31 Referencing your solution whereby you ignore events which aren't emitted from your library code, aren't you swallowing all exceptions emitted from your clients code if they also use Sentry?

[2021-12-17 23:16] stevenplewis commented on #4509
@imatwawana Yeah, it's definitely not obvious the headers in the sidebar are links. I think the things that are a different color from the normal body text indicate to some degree those are different and could be links, as well as being in a sidebar which is a pretty standard place/way for links to be shown. It's true an underline is a very universal cue for links, I worry in the sidebar adding un

[2021-12-20 12:48] sl0thentr0py commented on #4510
Hey @drjayvee, thanks for the issue!
You are correct that the PHP SDK does not currently support sessions.
And you are also correct that we should communicate clearly which SDKs support this feature currently.

[2021-12-20 12:52] sl0thentr0py commented on #4510
Actually the list of supported SDKs is already available at
https://docs.sentry.io/product/releases/health/setup/
so closing.

[2021-12-20 12:52] #4510 closed

[2021-12-20 14:30] imatwawana commented on #4509
agreed, i think underlines in the sidebar might be a lot, though i wouldn't be opposed to them in the breadcrumb. i wonder if it's possible to give the headings in the sidebar the same treatment as the child pages—a background that changes colour when you're on that page and a change in weight/colour when you hover. right now, any indication of a link/active link for those headings would be a real

[2021-12-21 09:49] jan-auer opened #4521 "Behavior of 429 responses not clear"
### Core or SDK?

Core Sentry product

### Which part? Which one?

HTTP response codes issued by Relay for rate limits and quotas

### Description

Sentry communicates rate limits with a 429 status code issued by Relay. However, there is no guarantee that this status code is returned for every rate limited event. Event ingestion and rate limiting happen asynchronous, so the 429 indication is a del

[2021-12-23 16:22] kj800x commented on #4454
Not stale

[2021-12-23 18:25] #4459 closed

[2021-12-23 21:05] romtsn opened #4535 "Document TracingOrigins option for sentry-java"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Android/Java

### Description

Documentation is missing for this option, related PR: https://github.com/getsentry/sentry-java/pull/1698

### Suggested Solution

Do it under https://docs.sentry.io/platforms/android/configuration/options/#tracing-options probably, also similar for Java

[2021-12-23 21:06] getsentry-release commented on #4535
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2021-12-29 00:16] armcknight opened #4564 "Failure to locate `sentry-cli` should result in error, not warning"
If a customer has already integrated the invocation of `sentry-cli` into their Xcode project, we should break their build instead of simply emitting a warning if the executable cannot be located/run (as described [here](https://docs.sentry.io/platforms/apple/dsym/?_ga=2.128113675.689385093.1640731068-498091088.1640731068#uploading-symbols-with-sentry-cli)). If we allow their build to succeed, then

[2021-12-29 00:52] armcknight opened #4542 "Mention Xcode 13+ plist issue in iOS onboarding"
### Problem Statement

In the onboarding instructions for iOS, we link to our docs for symbol uploads:

<img width="459" alt="image" src="https://user-images.githubusercontent.com/3241469/147617321-a71df76c-204d-4890-a60f-7ac9265565ab.png">

After following either of those links, doing the integration, and proceeding with onboarding, anyone using Xcode 13+ will encounter a build breakage (describe

[2021-12-29 01:04] armcknight opened #4538 "Add link describing required auth token scopes for `sentry-cli` usage"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Cocoa SDK, `sentry-cli`

### Description

While following the iOS onboarding instructions for the first time, I encountered some uncertainty as to what scopes would be necessary for an auth token used to upload symbols using `sentry-cli` for projects without bitcode: https://docs.sentry.io/platforms/apple/dsym/#uploading-symbols-with-sent

[2021-12-29 01:05] armcknight commented on #4538
@getsentry/team-mobile

[2021-12-29 02:17] katebygrace opened #4539 "Okta SAML isn't supported"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Okta

### Description

Per the Okta documentation, it says to get the "Identity provider metadata" but this isnt supported. It constantly fails on "Failed to parse provided SAML2 metadata".

### Suggested Solution

Update the docs with a way to enable Okta for SSO.

[2021-12-30 08:17] philipphofmann commented on #4542
I agree, adding this blurb on the onboarding instructions makes sense.

[2021-12-30 16:28] hervenivon opened #4543 "Usage > Set Level refers to an old property name"
### Core or SDK?

Platform/SDK

### Which part? Which one?

iOS

### Description

In the documentation page "Home > Platforms > Apple > iOS > Usage > Set the Level" ([here](https://docs.sentry.io/platforms/apple/guides/ios/usage/set-level/)), the referenced property `options.logLevel` and the possible values have been renamed by this pull request: https://github.com/getsentry/sentry-cocoa/pull/979

[2021-12-30 18:49] untitaker commented on #3327
This would be most needed on mobile but it's unclear what the fix there is, as there's no such thing as overflow scroll.

[2021-12-30 18:51] untitaker commented on #3327
Besides mobile, is there a realistic where the selected sidebar item actually disappears below the fold? I can't find me without making my viewport tiny.

[2022-01-02 00:22] cameronmcefee opened #4547 "Code from the build system leaking into code samples"
### Core or SDK?

Platform/SDK

### Which part? Which one?

@sentry/react

### Description

https://docs.sentry.io/platforms/javascript/guides/react/

The first code sample includes what appears to be part of the build system that made its way into the sample

[code]

The last line there probably isn't part of the directions

### Suggested Solution

Remove the last line. I spent a minute trying to

[2022-01-03 23:04] getsentry-release commented on #4543
Routing to @getsentry/enterprise for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-03 23:04] getsentry-release commented on #4543
Routing to @getsentry/enterprise for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-03 23:05] getsentry-release commented on #4539
Routing to @getsentry/enterprise for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-03 23:06] getsentry-release commented on #4543
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-03 23:07] bruno-garcia commented on #4543
Indeed this code snippet doesn't make sense. This documentation is dedicated to setting a level to a capture through the scope which doesn't apply to the Cocoa SDK, due to the global hub mode.

[2022-01-04 09:53] #3837 closed

[2022-01-05 10:30] not-my-profile opened #4553 "Update `node-sass` dependency"
### Steps to Reproduce

When I try to run build sentry-docs with `yarn` compiling `node-sass` fails with a cryptic C++ error message.

Apparently that's because sentry-docs depends on an old version of `node-sass`:

https://github.com/getsentry/sentry-docs/blob/c4a8592e7909bc8f23922ec32b99c84e6b27a76d/package.json#L62

See the [node-sass Node version support](https://github.com/sass/node-sass#node

[2022-01-05 13:25] philipphofmann opened #4554 "App Start is time-to-initial-display"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Apple, Android, React-Native

### Description

The docs on app start don't clearly state that we measure the [time-to-initial-display](https://developer.android.com/topic/performance/vitals/launch-time#time-initial) and not the [time-to-fully-display](https://developer.android.com/topic/performance/vitals/launch-time#time-full).

### Sugg

[2022-01-05 16:58] #4543 closed

[2022-01-05 21:25] gastaldi opened #4557 "Add Quarkus to the list of supported platforms"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Java

### Description

It would be nice to have [Quarkus](https://quarkus.io) listed as an available platform. Instructions on how to enable it are described in https://quarkiverse.github.io/quarkiverse-docs/quarkus-logging-sentry/dev/index.html

### Suggested Solution

Instructions are available here: https://quarkiverse.github.io/quarki

[2022-01-05 21:34] bruno-garcia commented on #4557
Quarkus is currently community support. The code itself is on their repo and the docs is there too.
For that reason for the time being we won't be documenting it here.

[2022-01-05 21:34] #4557 closed

[2022-01-05 21:42] bruno-garcia commented on #4557
We could list it here: https://docs.sentry.io/platforms/#community-supported

[2022-01-05 21:47] gastaldi commented on #4557
Thanks for the feedback @bruno-garcia.

Speaking on behalf of the Quarkus team, we will be more than happy if we could have someone from the Sentry team to help us maintain the Sentry integration. We'd be thrilled if we could be listed as a supported solution in the https://docs.sentry.io/platforms/java/, as I have received some feedback from some users having trouble finding instructions on how t

[2022-01-05 21:51] gastaldi commented on #4557
It looks like that section mentions different SDKs. The Quarkus extension uses the existing Sentry Java SDK, so I am a bit unsure if it makes sense to be listed there.

[2022-01-05 23:08] leedongwei commented on #4539
Hello! Thanks for the bug report.

The metadata parser seems to be working fine for me, so there might be something else going on. Could you email the metadata URL that you're using to me (dlee at sentry dot io) so I can take a deeper look?

[2022-01-06 00:14] bruno-garcia commented on #4557
The Quarkus integration is built on top of our Java SDK but it isn't maintained by Sentry. Neither it is in Sentry's organization on GitHub. So having the docs for it here could be difficult to maintain as we don't have anyone on staff involved in the development of this integration. That said, we could have a link to the Quarkus docs. That's what I referred to when pointing to the Community Suppo

[2022-01-10 14:08] getsentry-release commented on #4542
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-10 14:08] getsentry-release commented on #4538
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-10 15:46] philipphofmann commented on #4480
@romtsn, should we reopen this and add the backlog label so the stale bot doesn't close it?

[2022-01-10 16:21] #3807 closed

[2022-01-10 16:30] romtsn commented on #4480
@philipphofmann yep, thanks for pointing!

[2022-01-10 17:10] imatwawana commented on #3327
I was actually thinking about this for desktop. If you click on anything in the Integration section of the product docs, the LH navigation scrolls back up so you can't see that you have something in Integrations selected. I'm on a 22" monitor doing this if that's helpful. Anything beyond the Account Management section of the product docs is affected.

[2022-01-11 11:34] #3307 closed

[2022-01-11 13:41] untitaker commented on #4553
generally we pin our node version via [`volta`](https://volta.sh/) to currently 14.17.0 and don't support any other setup. However we're happy to accept PRs that either:

1) upgrade dependencies such that they work on both your node version and the one we pin to, so 16 and 14
2) upgrade our pinned node version to 16

[2022-01-11 15:27] rbisol commented on #4483
We don't get it often, maybe less than one per month. From what I see the two main issues are:
- Confusion between Authentication and SSO. Some users think they can use Azure as SSO on the team plan.
- It is hard to see the advantages of upgrading to Business.

[2022-01-11 19:32] #4395 closed

[2022-01-12 22:32] programmarchy opened #4578 "Next 12 not supported"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Sentry wizard

### Description

`npx @sentry/wizard -I nextjs` fails with `✗ Your `package.json` specifies a version of `next` outside of the compatible version range >=10.0.8 <12.0.0.`

The [docs say](https://docs.sentry.io/platforms/javascript/guides/nextjs/) Next JS 10.0.8 is the minimum, but Next JS 12 is not supported yet. Had to [di

[2022-01-12 22:42] AbhiPrasad commented on #4578
We now do support Next 12, so the wizard need to be fixed! Thanks for letting us know!

[2022-01-12 23:17] Jean85 opened #4579 "[PHP] send_attempts option not documented"
### Core or SDK?

Platform/SDK

### Which part? Which one?

PHP

### Description

As reported in https://github.com/getsentry/sentry-php/issues/1204#issuecomment-814051457, `send_attempts` option of the PHP SDK is not documented.

### Suggested Solution

Add docs about the (PHP specific) option

[2022-01-13 02:04] magni- opened #4580 "Some Webhook documentation anchors are incorrect"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Integrations/Webhooks

### Description

Affected URL:
https://docs.sentry.io/product/integrations/integration-platform/webhooks

Specifically, the `Issues` and `Errors` are pointing to `#uninstallation` and `#issue-alerts`, rather than the expected `#issues` and `#errors`. The `Attributes` anchors in each section are also wrong. Th

[2022-01-13 09:01] holylander opened #4581 "force sampling transaction during execution"
### Core or SDK?

Platform/SDK

### Which part? Which one?

node / javascript

### Description

I have an rest api application traced with Sentry. Only 20% of the request are sampled, however, I want to force the sampling of the event in case of certain condition is met. This condition is evaluated in the middle of the process, so I think that leveraring `startTranscation: {sample: true} ` is not

[2022-01-13 15:39] marandaneto commented on #3197
@imatwawana Hi, Would you like to help us out on that? Adding the new format for the Dart docs with the integration list and features list, We could help/review also the technical bits, thank you.

[2022-01-13 15:52] imatwawana commented on #4579
@stayallive - can you take a look?

[2022-01-13 16:58] philipphofmann opened #4583 "Document how mobile SDKs work alongside other crash report libs"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Mobile

### Description

We repeatedly get asked if there are any issues running the mobile SDKs alongside other crash reporting libraries.

### Suggested Solution

It would be beneficial if each mobile SDK had a section explaining that this is possible and clarifying the potential issues.

Input from Slack:

@armcknight, can you please l

[2022-01-13 16:58] getsentry-release commented on #4583
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-13 16:58] philipphofmann commented on #4583
@imatwawana, where do you think that content could end up in the docs?

[2022-01-14 15:19] #4579 closed

[2022-01-14 15:59] imatwawana commented on #4483
Thanks for the clarification! To your points:
- The inclusion of Azure under Authentication on the pricing page is confusing and FWIW I struggle with keeping the difference between authentication and SSO straight in my head. I think there are a few possible solutions for that. 1.  Add something on the pricing page that clarifies that Azure isn't SSO in that context (perhaps literally putting "not

[2022-01-14 16:28] imatwawana commented on #4580
The issue appeared to be fixed in preview on the PR, but in production, it's still not fixed. I'm also stumped.

[2022-01-14 16:53] mfb commented on #4579
It'd be more clear to document this as

As `3` will cause the event to be sent 4 times if there was a 500 error.

[2022-01-14 17:34] imatwawana opened #4593 "top page nav disappears on mobile"
### Core or SDK?

Core Sentry product

### Which part? Which one?

All

### Description

The top nav (see image below) disappears when you navigate away from the landing page of Docs on mobile.

On landing page:
![Image from iOS (2)](https://user-images.githubusercontent.com/76437239/149559558-efeb0c2c-6c09-4b06-a423-c3cf8a11e37b.png)

On other pages:
![image](https://user-images.githubusercontent

[2022-01-14 20:56] #4506 closed

[2022-01-15 15:21] stayallive commented on #4579
@mfb good call, done in #4599.

[2022-01-17 05:27] sentryadam0000345 opened #4600 "Adding Sentry Install Steps For JBoss"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Java SDK

### Description

Instructions for how to install Sentry with JBoss would be great.  It seems someone from the community has already detailed this and outlined.  It just needs to ber verifed and added to the official documentation.  Please see here: [https://gist.github.com/maciejwalkowiak/02fa1eb0089ebc6e0a4687458a204779](https:

[2022-01-17 05:39] sentryadam0000345 opened #4601 "Docs and guides need to be updated with latest alert conditions to prevent confusion"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Alerts

### Description

`The issue is first seen` has been deprecated and replaced with `A new issue is created`.

### Suggested Solution

In docs and gudies, the new wording should be used.

[2022-01-17 12:15] marandaneto opened #4602 "Document `dio` package"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-dart

### Description

Docs for the `dio` package is missing.
https://github.com/getsentry/sentry-dart/pull/688
https://pub.dev/packages/dio

### Suggested Solution

Document the `dio` package as an integration of the Dart/Flutter SDK.

[2022-01-17 12:16] getsentry-release commented on #4602
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-17 15:18] getsentry-release commented on #4600
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-17 21:41] imatwawana commented on #3197
Do you have a time frame that you want this done within? If it's urgent, I don't know if I can make it happen as soon as you need. If it's not, then I can probably fit it in.

[2022-01-18 00:24] #3438 closed

[2022-01-18 00:30] #3377 closed

[2022-01-18 11:25] marandaneto commented on #3197
@imatwawana no hard deadline on that, feel free to fit it in on your own schedule, thanks a bunch.

[2022-01-19 19:29] sdzhong opened #4613 "Update PHP Performance Monitoring Details"
### Core or SDK?

Platform/SDK

### Which part? Which one?

PHP

### Description

Details in https://docs.sentry.io/platforms/php/#performance for Performance Monitoring setup is inaccurate—must manually create Trace when there is no framework (e.g. Laravel or Symfony).

Details in https://docs.sentry.io/platforms/php/performance/ are missing manual instrumentation.

### Suggested Solution

Update

[2022-01-19 19:37] imatwawana commented on #4613
Hey, @stayallive can you take a look at this?

[2022-01-21 13:27] marandaneto commented on #2984
This should be common content and just the code snippet would change per platform, only relevant for server-side SDKs.
Java is already done but should adapt to the common content.

[2022-01-21 18:39] masinette opened #4626 "PHP Performance Monitoring Instrumentation"
### Core or SDK?

Platform/SDK

### Which part? Which one?

php

### Description

PHP automatic instrumentation for Performance Monitoring, is not available. Might be worth it to adjust the wording a bit here: [https://docs.sentry.io/platforms/php/#performance-monitoring](https://docs.sentry.io/platforms/php/#performance-monitoring) to clarify that.

### Suggested Solution

Please include a discla

[2022-01-22 18:04] stayallive commented on #4613
Hey @sdzhong, can you tell me a bit more about what specifically you are looking for so I can see what we can do to improve?

It's not immediately clear but the instructions for manual instrumentation are meant to be these, although a bit sparingly maybe: https://docs.sentry.io/platforms/php/performance/#custom-instrumentation.

What would you have expected or liked to have seen?

[2022-01-22 18:39] sdzhong commented on #4613
Hey Alex,

The configurations for the Sentry PHP SDK requires more than the stated:
"Just set traces_sample_rate to a value greater than 0.0 after that,
Performance Monitoring will be enabled." and "The example configuration
above will transmit 100% of captured traces." (from the page
https://docs.sentry.io/platforms/php/).

Manual instrumentation is required when there is no framework (i.e. Larav

[2022-01-22 18:40] stayallive commented on #4613
@sdzhong, ahh yes! I see now, thanks for clarifying I'll make sure we are going to add a note about that because that is indeed not mentioned anywhere at the moment! Thanks for clarifying!

[2022-01-24 14:15] imatwawana commented on #4626
@stayallive - It probably makes sense to deal with this issue at the same time as [4613](https://github.com/getsentry/sentry-docs/issues/4613).

[2022-01-24 16:48] romtsn opened #4632 "Improve automatic breadcrumbs documentation for visibility"
### Core or SDK?

Platform/SDK

### Which part? Which one?

All?

### Description

Current Automatic Breadcrumbs documentation page is not descriptive at all, we just mention on the Getting Started page all possible automatic breadcrumbs collected by the SDK, but that's it.

Examples:
Android: https://docs.sentry.io/platforms/android/enriching-events/breadcrumbs/#automatic-breadcrumbs
Apple: https

[2022-01-24 22:35] armcknight commented on #4583
Sorry for the late reply, the first version of Crashlytics that propagates the signal after handling looks to be 8.1.0. My changes were merged on 20 May 2021 in https://github.com/firebase/firebase-ios-sdk/pull/8120 and 8.1.0 was the next release after that, on 1 June. They did not mention the change in their release notes.

[2022-01-25 09:13] #4521 closed

[2022-01-25 15:30] #4626 closed

[2022-01-25 16:59] ojab commented on #3359
I guess this one is fixed by https://github.com/getsentry/sentry-docs/pull/3578

[2022-01-25 17:08] #4613 closed

[2022-01-25 17:25] stayallive commented on #3479
@Jean85 I think I've patched things up a bit with #4638, what are other areas we could improve here?

The changes are live so you can check them out here: https://docs.sentry.io/platforms/php/guides/symfony/configuration/.

/cc @ste93cry

[2022-01-26 01:07] #4509 closed

[2022-01-26 08:37] Jean85 commented on #3479
My comments:
 * `%kernel.build_dir%` has been added to the default values of `in_app_exclude`; it's valid only for newer SF versions, since 5.2: https://github.com/symfony/symfony/pull/36515
 * `project_root` is an old option dropped in `sentry/sentry` 3, right?
 * `listener_priorities` was dropped in the bundle v4
 * Transport page talks about the base SDK, even if we're in the Symfony dedicated

[2022-01-26 14:02] fiterbek opened #4644 "Missing/incomplete docs for JIRA-sentry integration"
### Core or SDK?

Core Sentry product

### Which part? Which one?

plugins JIRA

### Description

We want to connect on-premise sentry instance to on-premise Jira Server instance. It seems both Jira and Jira server connections are documented only for sentry cloud, see https://docs.sentry.io/product/integrations/project-mgmt/jira/

We found documentation for sentry on-prem to jira cloud, see https:

[2022-01-26 14:32] #3479 closed

[2022-01-26 18:55] getsentry-release commented on #4644
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-27 08:49] fiterbek commented on #4644
Hi @ceorourke , thank you for your reply. As stated we are trying to connect a self-hosted Sentry instance to a self-hosted Jira Server instance, not a cloud Jira. The docs you refer to on https://develop.sentry.dev/integrations/jira/ require a Jira Cloud instance, so these are of no use to us.

Is there support for this or is it impossible?

[2022-01-27 17:45] liamjones opened #4648 "Sentry for JIRA documentation URL is incorrect"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Sentry for JIRA plugin

### Description

The documentation link in your JIRA 'manage apps' section for Sentry and in the [Atlassian Marketplace listing](https://marketplace.atlassian.com/apps/1219432/sentry-for-jira?hosting=cloud&tab=support) is incorrect.

It links to https://docs.sentry.io/integrations/jira/?utm_campaign=partner&utm_sou

[2022-01-27 17:54] manuzope commented on #4648
Fixed! Thanks for the heads up, @liamjones!

[2022-01-27 17:54] #4648 closed

[2022-01-27 19:22] ceorourke commented on #4644
Oops, sorry about that @fiterbek. The [Jira Server](https://docs.sentry.io/product/integrations/project-mgmt/jira/#jira-server) docs can be used for your use case, I just ran through it locally. The only difference is that where we say to list sentry.io, you'll put your own domain e.g. https://sentry.io/extensions/jira_server/setup/ becomes https://myngrok.ngrok.io/extensions/jira_server/setup/ an

[2022-01-27 22:07] #4270 closed

[2022-01-28 15:03] imatwawana commented on #4547
Fixed by [PR 4652](https://github.com/getsentry/sentry-docs/pull/4652)

[2022-01-28 15:03] #4547 closed

[2022-01-28 16:15] kgrozdanovski opened #4653 "Distributed Tracing configuration does not work"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Symfony

### Description

After following the steps and using the code snippets for configuring Distributed Tracing with a sampler function, I get the following error:
[code]

My assumption is that the example for the `sentry.yaml` configuration is incorrect, however I am not sure what the correct settings should be.

### Suggested Soluti

[2022-01-28 16:17] imatwawana commented on #4653
hey @stayallive - can you take a look, please?

[2022-01-28 16:48] kgrozdanovski commented on #4653
I just got it to work using an example provided in this [comment](https://github.com/getsentry/sentry-symfony/issues/336#issuecomment-746633997).

Here is the proper, working services configuration in `sentry.yaml`:
[code]
And the matching options configuration in the same file:
[code]

[2022-01-31 09:40] stayallive commented on #4653
@kgrozdanovski you are correct, this is going to be addressed with: #4658.

Thanks for pointing this out 👍

[2022-01-31 15:44] drmrbrewer opened #4659 "ReferenceError: SpanStatus is not defined"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Custom Instrumentation for JavaScript

### Description

I've tried the code snippets on the following page:

https://docs.sentry.io/platforms/javascript/performance/instrumentation/custom-instrumentation/

Regarding the following lines:

    span.setStatus(SpanStatus.Ok);
    span.setStatus(SpanStatus.UnknownError);

I'm just getting the

[2022-01-31 15:44] #4653 closed

[2022-01-31 17:01] imatwawana opened #4660 "Create Performance SDK configuration primer"
### Core or SDK?

Platform/SDK

### Which part? Which one?

All

### Description

[From customer feedback](https://www.notion.so/sentry/Performance-Custom-Implementation-Roadblocks-67439fb9bd2947e4a178fd71eba957cb). In summary, users are trying to figure out how to send custom transactions and the problem they ran into was not understanding where in their application to put the appropriate code.

[2022-01-31 18:46] chadwhitacre commented on #4538
P.S. @armcknight can you [make your org membership public](https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/publicizing-or-hiding-organization-membership)? That will help our bots know what to do better with yer tickets. 🐭 🤖

[2022-01-31 19:14] getsentry-release commented on #4600
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-01-31 20:49] bruno-garcia commented on #4600
Thanks for raising. Right now that link from @maciejwalkowiak is what we used to help users with an example. We look into extending docs

[2022-01-31 21:06] ibro12 opened #4661 "Have been working"
### Steps to Reproduce

Kumawayo
Kumawayo
Hacking
Android

### Expected Result

Jsjjsjsjsskskk
Nsnnssmsnnsndmdd

### Actual Result

Nsmsmnssmsdmdm
Nsnsnsndmdmdmdmmd

### Additional Info

Bsbbsbsbsssbdbdndnnd
Nsnssnnsnnxxnnxn
Jsbsnsnsnndnd

[2022-01-31 21:34] #4661 closed

[2022-02-01 08:10] marandaneto commented on #4538
@armcknight I've added the min. required scope to this [page](https://docs.sentry.io/product/cli/dif/#permissions) a while ago.

[2022-02-01 11:52] dharshan0011 opened #4665 "Missing details regarding when and where to invoke setUser"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Identify Users under Enriching Events

### Description

Missing details regarding where to call the setUser method. I am calling it as soon as the user logs in. However, most of the time we have our JWT token stored in local storage hence the user need not to login until it expires. This didn't work for me, though. I am still trying to tr

[2022-02-01 13:15] bruno-garcia commented on #3226
Relates to: https://github.com/getsentry/sentry-docs/issues/2719

Another reason this came up: On Android we want to prioritize installing with the Android Gradle Plugin so we can automate installing extra packages and configure them via bytecode manipulations when needed.
The problem is that a non trivial amount of users won't be able to leverage this because they are still stuck on a version of

[2022-02-01 14:07] SethFalco opened #4666 "The loader is less than 1 KB gzipped?"
### Core or SDK?

Platform/SDK

### Which part? Which one?

JavaScript SDK

### Description

But for me, the loader appears to be larger:
![image](https://user-images.githubusercontent.com/22801583/151983061-9a277ee8-d8be-475f-b10c-7ff1feb61159.png)

I am not sure if I've done something wrong, or if the docs are inaccurate. Could this be clarified?

### Suggested Solution

Update the docs, so it d

[2022-02-01 14:07] imatwawana commented on #4665
@dharshan0011, to help me route this, what SDK were you using?

[2022-02-01 14:09] getsentry-release commented on #4666
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-02-01 15:43] HazAT commented on #4666
It's very close, 1018 bytes. We'll change it in the docs.
Cheers
[code]

[2022-02-01 15:43] #4666 closed

[2022-02-01 15:46] getsentry-release commented on #4659
Routing to @getsentry/team-webplatform for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-02-01 16:02] AbhiPrasad commented on #4659
Hey thanks for writing in.

We actually deprecated this in the latest minor version: https://github.com/getsentry/sentry-javascript/blob/master/MIGRATION.md#spanstatus, but it seems we accidentally removed the export. We will fix this in the docs and in the SDK!

Normally the you can import the `SpanStatus` from the `@sentry/tracing package:

[code]

[2022-02-01 16:19] AbhiPrasad commented on #4659
Here's the SDK changes: https://github.com/getsentry/sentry-javascript/pull/4478

[2022-02-01 16:38] #4601 closed

[2022-02-02 09:14] kamilogorek commented on #4666
Plus network tab shows the total numbers of bytes transferred through the pipes. Including all metadata, like headers, not only body size :)

[2022-02-02 17:54] bruno-garcia commented on #2981
Changing my mind here and agree with @jma that `unreal` is best

[2022-02-02 19:30] AbhiPrasad commented on #4659
This has now been released in SDK version `6.17.4`. Here's a sandbox showing the import: https://codesandbox.io/s/funny-mclaren-zriud?file=/src/index.js

Closing for now as we've addressed the principal issue.

[2022-02-04 00:05] sdzhong opened #4685 "Include Details on heartbeat Tag"
### Core or SDK?

Core Sentry product

### Which part? Which one?

https://docs.sentry.io/product/performance/

### Description

Can we share some details around the heartbeat tag in our Performance page? There is confusion about what the tag means.

### Suggested Solution
Address this as part of [issue 4686](https://github.com/getsentry/sentry-docs/issues/4686).

Sentry has a heartbeat system to

[2022-02-04 00:10] sdzhong opened #4686 "Details about Automatically Instrumented Tags per SDK"
### Core or SDK?

Core Sentry product

### Which part? Which one?

/enriching-events/tags/

### Description

Some tags are captured by the SDK automatically and some are set explicitly (e.g. with Sentry.setTag or Sentry.setUser). I propose having the default tags listed in their appropriate SDK docs.

### Suggested Solution

For SDK guides' /enriching-events/tags/ pages (e.g. https://docs.sentry.i

[2022-02-04 00:14] sdzhong opened #4687 "unknown Meaning for React Native transaction.status"
### Core or SDK?

Platform/SDK

### Which part? Which one?

https://docs.sentry.io/platforms/react-native/performance/

### Description

The transaction.status defaults to `unknown` and it means there were no problems. There are no details in the docs for this and "unknown" sounds very ambiguous & confusing.

### Suggested Solution

Define the different values of transaction.status (like unknown)

[2022-02-04 14:21] getsentry-release commented on #4687
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-02-04 14:28] imatwawana commented on #4687
Not sure if this is helpful, but @lobsterkatie mentioned this sentence is in the [performance metrics](https://docs.sentry.io/product/performance/metrics/#failure-rate) documentation:
Sentry treats transactions with a status other than “ok,” “cancelled,” and “unknown” as failures.

But this is in [the table](https://develop.sentry.dev/sdk/event-payloads/span/) on this page in the developer docs li

[2022-02-04 14:41] imatwawana commented on #4685
@sdzhong - The product docs don't currently have any specific tag information in them, so including this there seems like it would create some inconsistency. It seems like it would address this as part of addressing [issue 4686.](https://github.com/getsentry/sentry-docs/issues/4686) What do you think?

Side note, can you please [make your GitHub profile public](https://docs.github.com/en/account-a

[2022-02-04 14:42] getsentry-release commented on #4686
[Failed](https://github.com/getsentry/sentry-docs/actions/runs/1795497674) to route to `Team: Web Platform`.  😕

Defaulting to @getsentry/open-source for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-02-04 14:42] getsentry-release commented on #4686
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-02-04 14:42] getsentry-release commented on #4686
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-02-04 14:43] imatwawana commented on #4686
@getsentry/team-mobile & @getsentry/team-mobile - Does this seem like something we could work on together to start building? Is this something that's a reasonable ask and lift to maintain? I'm happy to coordinate the effort if this makes sense to pursue.

[2022-02-04 15:25] imatwawana opened #4692 "Update frontend tutorial"
- [ ] update screenshots (partially done - [PR 4668](https://github.com/getsentry/sentry-docs/pull/4668))
- [ ] fix incorrect or out-of-date steps

[2022-02-04 15:26] imatwawana opened #4693 "Review Pre-Performance Content"
Review content that was created before there was a performance feature for required updates

[2022-02-04 15:29] imatwawana opened #4694 "Improve structure of Quota Management docs"
Index page is very long and repeats a lot of content from quota management guides, which makes it hard to know where you're going to find the information you need — on the main page or in the guides.

- [x] Review content for duplication
- [x] Restructure index page

[2022-02-04 15:32] imatwawana opened #4695 "Chunk out Distributed Tracing content"
This content is very long for a one-pager so it's hard to digest. Should be broken down to make more readable.

[2022-02-04 15:35] imatwawana opened #4696 "Improve structure of Releases product docs"
Releases documentation doesn't follow the standards set for other product docs (Alerts, Issues).

- [ ] Convert Releases docs to standard IA for product features, specifically the index page
- [x] Move Release Health setup content into Releases setup page (in Configure Your SDK section) and remove RH setup page
- [x] Fix styling

[2022-02-04 16:32] sdzhong commented on #4685
Yes, I agree.

I've made my GitHub profile public.

[2022-02-04 18:27] #4539 closed

[2022-02-04 20:09] ibro12 opened #4697 "App free money"
android link:   https://play.google.com/store/apps/details?id=com.appeanmoneyonline.freeapp2021,   install app and enter referral code: 61022228 to get 500 Coins
https://play.google.com/store/apps/details?id=com.appeanmoneyonline.freeapp2021

[2022-02-04 20:10] #4697 closed

[2022-02-07 10:52] marandaneto opened #4699 "Documet min. required version for OkHttp"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-java

### Description

https://docs.sentry.io/platforms/android/configuration/integrations/okhttp/
The min. required version for OkHttp should be documented.

### Suggested Solution

Documet min. required version for OkHttp

[2022-02-10 14:12] #4699 closed

[2022-02-10 15:05] rohitkataria-sentryio opened #4718 "Incorrect redirects for Performance Monitoring and Release Health for several SDKs"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Android, React Native, DotNet, iOS, Flutter, NextJS

### Description

For any of the SDKs at the url: https://docs.sentry.io/platforms/<sdk-name>/, that is, the landing page for a given SDK, the links to Performance monitoring and Release Health on that main page (not the left side bar), take the user to the corresponding  **product** sec

[2022-02-10 22:27] lobsterkatie commented on #4718
I actually think it makes sense as is. @bruno-garcia , what do you think?

[2022-02-13 06:21] alkhatera opened #4721 "[React Native Expo] Cannot add extra information"
### Steps to Reproduce

I am trying Sentry for the first time, but cannot figure out how to send tags, extras, or set a user. It is not working for me.

I tried to do all the following:

[code]
and more...

The issue shows up on Sentry, but none of the data set by me gets sent with it.
Am I doing something wrong or is there an issue?

### Expected Result

Tags and additional data shows up on the i

[2022-02-13 15:05] ArmoredCavalry opened #4722 "Undocumented Limitation of Lazy-Loading SDK"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Javascript

### Description

I recently added version for release health / sessions to my JS SDK, but was only seeing sessions with errors. I ended up tracing this back to use of the lazy-loading script. Since it will only initialize the SDK if there is an error / exception, 100% of reported sessions were 'crashes'.

### Suggested Solutio

[2022-02-14 14:45] #4721 closed

[2022-02-14 14:46] getsentry-release commented on #4722
Routing to @getsentry/{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/teams#get-a-team-by-name"} for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-02-14 19:34] lobsterkatie commented on #4722
Sorry 'bout that! We [changed how `BrowserTracing` is accessed](https://github.com/getsentry/sentry-javascript/pull/4204), so the docs are right, or at least, describe what should be right. Unfortunately, the CDN bundle was missed in that PR. I've pushed a new PR to fix this.

[2022-02-15 17:24] bruno-garcia opened #4731 "Capacitor SDK docs don't point user to native symbol upload"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Capacitor

### Description

https://docs.sentry.io/platforms/javascript/guides/capacitor/

No where on the docs there is a reference to uploading symbols. There's a note on the top

Which would be best as a Features List similar to other SDKs.

### Suggested Solution

And after the Verify step, we need to mention that for proper native su

[2022-02-16 13:06] bityob opened #4732 "Broken link"
### Core or SDK?

Core Sentry product

### Which part? Which one?

https://help.sentry.io/

### Description

This [page](https://help.sentry.io/account/security/why-am-i-seeing-filtered-in-my-event-data/) has a link to **[Sensitive Data](https://docs.sentry.io/data-management/sensitive-data/)** page -
![image](https://user-images.githubusercontent.com/20026896/154270437-f1e9a8bb-3d0a-4543-b703-207

[2022-02-16 20:54] #4732 closed

[2022-02-17 08:22] bityob commented on #4732
@souredoutlook why closed?

[2022-02-17 08:22] bityob commented on #4732
Still borken

[2022-02-17 13:10] jdemaeyer opened #4737 "Docs for "List a Project's Issues" contain incorrect required scope"
### Core or SDK?

Core Sentry product

### Which part? Which one?

API

### Description

Hi guys,

I would've opened a PR but couldn't find the corresponding file in this repo. The [docs for the `List a Project's Issues` endpoint](https://docs.sentry.io/api/events/list-a-projects-issues/) state that this endpoint requires the `project:read` scope, while in reality the `event:read` scope is both re

[2022-02-17 14:33] getsentry-release commented on #4737
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-02-17 15:24] souredoutlook commented on #4732
@bityob Thanks for bringing that up - looks like the relevant commit was merged but not deployed (hence the automated closure). Will get it looked after today. The specific change to the document below:

[code]

[2022-02-17 22:42] imatwawana opened #4740 "list of frameworks isn't displayed if there are no headings on a page"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Node.js, Native, Python

### Description

The right sidebar isn't rendering for some frameworks under Node.js, Native, and Python. This is because there are no headings on these pages, so the system doesn't generate the page-level TOC. Since it doesn't generate that, the list of frameworks that would be part of that isn't displayed.

Unde

[2022-02-18 17:29] #4332 closed

[2022-02-24 14:10] fiterbek commented on #4644
Hi, finally found some time to followup on this. It seems there was permissions issue: the user adding the Jira Server 'application' integration in Sentry did not have sufficient privileges on the Jira instance. This was the cause we could not successfully the complete the installation in Sentry.
It wasn't necessary to uncheck the SSL verification btw.

So this issue is resolved, thank you for fol

[2022-02-24 14:10] #4644 closed

[2022-02-24 16:06] souredoutlook opened #4762 "Adjust Wording In Description of ignoreErrors option"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Manage Event Stream Guide

### Description

In reference to [Issue#4605 from getsentry/sentry-javascript](https://github.com/getsentry/sentry-javascript/issues/4605):

The description of ignoreErrors located [here](https://docs.sentry.io/product/accounts/quotas/manage-event-stream-guide/#inboundfilters) states:

This isn't exactly

[2022-02-24 19:02] lobsterkatie commented on #4762
@souredoutlook - feel free to open a PR!

[2022-02-24 19:40] #4762 closed

[2022-02-25 18:34] imatwawana commented on #4483
@rbisol - just checking back in. See my comments above.

[2022-02-26 07:25] marandaneto commented on #4686
Seems like a generic issue for all the SDKs and not Mobile only, deferring that to the Docs team.

[2022-02-26 07:31] #3197 closed

[2022-02-28 12:13] #4431 closed

[2022-02-28 15:33] imatwawana commented on #4686
Looks like there was an error in my initial comment. I meant to address my comments to the @getsentry/team-web-frontend, @getsentry/team-web-backend, and @getsentry/team-mobile teams, since I would need the actual content to come from you all. But if it's not reasonable to maintain this kind of documentation over time, then this might not be the best solution.

[2022-02-28 15:45] marandaneto commented on #4686
@imatwawana yes, but I believe SDKs don't set tags automatically, some tags are created automatically tho during event ingestion, so the Ingest team would know better.

[2022-02-28 21:25] #4737 closed

[2022-02-28 22:00] lobsterkatie commented on #4722
I'm pushing a fix now - thanks for pointing this out!

[2022-02-28 22:07] sdzhong opened #4776 "Add details on span.op and span.description"
### Core or SDK?

Core Sentry product

### Which part? Which one?

https://docs.sentry.io/product/sentry-basics/tracing/event-detail/

### Description

There are details on `span.set_tag` and `span.set_data`. I expect details on `span.op` and `span.description`.

### Suggested Solution

Provide details on ways to overwrite automatic instrumentation of op and description values with span.op and spa

[2022-02-28 22:15] lobsterkatie commented on #4776
@sdzhong - what SDK is this? Can you please update the description to reflect that? Also, you're always welcome to push up a docs PR and request a review from the relevant SDK engineers. I know from my time on support that I often had the most context on whatever the issue was, because I'd been helping solve it.

Thanks!

[2022-03-01 00:07] sdzhong opened #4778 "Image in External Team/User Mappings Incorrect"
### Core or SDK?

Core Sentry product

### Which part? Which one?

https://docs.sentry.io/product/issues/issue-owners/#external-teamuser-mappings

### Description

The first image in [External Team/User Mappings](https://docs.sentry.io/product/issues/issue-owners/#external-teamuser-mappings) hyperlinks to [code_owners.png](https://docs.sentry.io/static/b517a04b5e42f29839c250adfe101938/aa440/code_o

[2022-03-01 00:20] getsentry-release commented on #4778
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-03-01 14:06] imatwawana commented on #4778
Possibly related to [issue 4580](https://github.com/getsentry/sentry-docs/issues/4580)

[2022-03-01 14:07] imatwawana commented on #4580
@untitaker I've linked issue 4778 to this one in case it's the same underlying problem (links not pointing where they should). If it turns out, fixing this issue doesn't also solve that one, we can just unlink them.

[2022-03-01 14:15] #4722 closed

[2022-03-02 13:24] imatwawana commented on #4776
@sdzhong, in the the ticket you referenced in Slack, you mentioned React Native. Is this issue specific to that SDK?

[2022-03-02 13:28] #3417 closed

[2022-03-02 13:33] dashed commented on #4776
@lobsterkatie @imatwawana It looks like the code example here (https://docs.sentry.io/product/sentry-basics/tracing/event-detail/#adding-query-information-and-parameters-to-spans) is using the python SDK, which might not be useful for anyone looking to use any other SDK.

This section might lack information on how to set custom operation and description.

[2022-03-02 18:10] #4665 closed

[2022-03-03 18:49] marandaneto commented on #4496
@imatwawana Can you help us out with the wording here?
https://docs.sentry.io/platforms/react-native/configuration/options/#max-breadcrumbs

You can set as much as you want, the default is 100, but it can be customized, the problem is that if you set too much, your event may be dropped because the payload is too big since sentry [has a max payload size of 1MB](https://develop.sentry.dev/sdk/envelo

[2022-03-03 20:30] imatwawana commented on #4496
I think the combination of the docs + the text in the SDK (especially in JS) is what makes this confusing. To remove some of the confusion, we can make the docs content a bit more robust. Something like:

_This variable controls the total amount of breadcrumbs that should be captured. The default is 100, but you can set this to any number. However, you should be aware that Sentry has a [maximum pa

[2022-03-04 00:56] lobsterkatie commented on #4496
Yes, exactly. That is true.

[2022-03-04 07:39] marandaneto opened #4795 "Add Java/Android specific options to the docs"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-java

### Description

Add Java/Android specific options to the docs
Similar to https://github.com/getsentry/sentry-docs/issues/2924

### Suggested Solution

Document all missing options, if they make sense to be user-facing and are relevant to the SDK usage.
Given that the type system already helps it, this could be more useful to

[2022-03-04 07:40] marandaneto opened #4796 "Add Dart/Flutter specific options to the docs"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-dart

### Description

Add Dart/Flutter specific options to the docs
Similar to https://github.com/getsentry/sentry-docs/issues/2924

### Suggested Solution

Document all missing options

[2022-03-04 07:41] marandaneto opened #4797 "Add Apple specific options to the docs"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-cocoa

### Description

Add Apple specific options to the docs
Similar to https://github.com/getsentry/sentry-docs/issues/2924

### Suggested Solution

Document all missing options

[2022-03-04 07:43] marandaneto commented on #2985
I've created an issue per platform.

[2022-03-04 07:43] #2985 closed

[2022-03-04 12:18] marandaneto commented on #4496
No, it should use the JS behavior then, but I was unaware of this absolute number, See https://github.com/getsentry/sentry-javascript/pull/4682#discussion_r819315764
The Mobile SDKs tho, don't have such an absolute number, so even more confusing, I'm currently asking around how this feature was designed and which SDKs should adapt to it.

[2022-03-04 16:55] sdzhong commented on #4687
@marandaneto, is it sensible to have React Native transactions default to "ok" instead of "unknown"?

[2022-03-05 08:49] marandaneto commented on #4687
Yes, actually, it should, please raise an issue on https://github.com/getsentry/sentry-react-native

[2022-03-07 13:45] axelson opened #4800 "Documentation for .sentryclirc file is missing from page"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Javascript platform Webpack configuration

### Description

On https://docs.sentry.io/platforms/javascript/sourcemaps/uploading/webpack/ it says:

However, that is the only mention of the `.sentryclirc` file on the page

### Suggested Solution

Instead it should either link to a page like https://docs.sentry.io/product/cli/configuration/

[2022-03-07 15:02] #4472 closed

[2022-03-07 16:58] imatwawana commented on #4800
Thanks for the catch @axelson!

[2022-03-07 16:58] #4800 closed

[2022-03-07 18:21] smeubank commented on #4660
Immediate questions to answer:
Can we get more concrete examples from apps the customers struggle to understand how instrument?
- example apps and code from our customers with first feedback on this issue

How can we make react and react-native developer docs better?

Second phase topics:
Why doesn't feedback come with other SDKs/frameworks?
- component tree based
- popularity of react and react-n

[2022-03-07 21:13] sdzhong opened #4805 "Add Spike Protection Details"
### Core or SDK?

Core Sentry product

### Which part? Which one?

https://docs.sentry.io/product/accounts/quotas/manage-event-stream-guide/#-spike-protection-was-activated----what-should-i-do

### Description

[Docs page](https://docs.sentry.io/product/accounts/quotas/manage-event-stream-guide/#-spike-protection-was-activated----what-should-i-do) is missing details on how to look at events droppe

[2022-03-07 22:32] #4805 closed

[2022-03-08 09:49] marandaneto commented on #4496
We've decided to fix it on the [JS SDK](https://github.com/getsentry/sentry-javascript/issues/4693) first and later adjust the docs.
Thanks for raising the confusion @liamjones

[2022-03-09 07:44] #4483 closed

[2022-03-09 07:47] rbisol opened #4813 "Remove. "soon to be deprecated" option as it is deprecated"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Product API

### Description

On this page: https://docs.sentry.io/api/projects/update-a-project/ one of the options is:

[code]

But is already deprecated:

[code]

### Suggested Solution

Remove the option from the list. And adding the new process if available.

[2022-03-09 13:43] getsentry-release commented on #4813
Routing to @getsentry/ecosystem for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-03-09 15:18] romtsn commented on #4421
Closing as we made the suggested improvements to the docs

[2022-03-09 15:18] #4421 closed

[2022-03-09 15:26] romtsn commented on #4480
We've decided to make a blog post out of it, since it's not really Sentry-related, but android.

[2022-03-09 15:26] #4480 closed

[2022-03-09 18:55] sdzhong commented on #4778
This appears to be resolved. The embedded urls for original images are consistent with the preview images.
<img width="960" alt="image" src="https://user-images.githubusercontent.com/89550162/157511545-4ada35ff-656e-41f5-b395-aac84a67f32c.png">

[2022-03-09 19:05] imatwawana commented on #4778
Okay, I'm gonna close this issue since we can't replicate the problem now.
cc @untitaker

[2022-03-09 19:05] #4778 closed

[2022-03-10 14:36] bruno-garcia opened #4822 "Unity Windows native crash support"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Unity

### Description

The Unity SDK can capture minidumps on Windows: https://github.com/getsentry/sentry-unity/issues/527

### Suggested Solution

* Add an entry to the landing features list
* Document the checkbox to opt-out
* Update the Native support about capturing before the engine start to point that's just for Mobile
* Point out

[2022-03-10 14:41] getsentry-release commented on #4822
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-03-10 15:49] imatwawana opened #4824 "table doesn't resize properly"
### Core or SDK?

Core Sentry product

### Which part? Which one?

https://docs.sentry.io/product/accounts/membership/

### Description

The page layout is broken on this page such that when you resize the page, the table overlaps the right side menu. The error seems to be specific to this page as other tables don't show this issue.
![image](https://user-images.githubusercontent.com/76437239/15769

[2022-03-11 13:41] marandaneto commented on #4554
Before doing that, we need to validate that our platforms do TTID correctly, currently, our docs state where it starts and where it ends (by a function call, or notification name).

[2022-03-11 16:56] #4822 closed

[2022-03-12 00:04] #4718 closed

[2022-03-15 16:35] #2924 closed

[2022-03-15 19:05] sdzhong commented on #4824
**This seems to happen when surpassing a certain number of table columns and/or a certain width of the table.**

You can see the same behavior in the tables in https://docs.sentry.io/product/integrations/ (see screenshot).

1. The Deployment table is spilling into the sidebar https://github.com/getsentry/sentry-docs/blob/master/src/docs/product/integrations/index.mdx#deployment
2. The Data & Visua

[2022-03-15 19:11] imatwawana commented on #4824
Thanks for the investigation and clarification, @sdzhong!

[2022-03-17 00:17] bruno-garcia opened #4845 "Gradle: Document how to flip the value from default"
### Core or SDK?

Platform/SDK

### Which part? Which one?

src/platforms/android/common/gradle.mdx

### Description

[code]

### Suggested Solution

This is counter intuitive because if the feature is already enabled by default, it's best to be clear about it, and say:

``
    autoInstallation {
      enabled = false
[code]

[2022-03-17 19:52] leeandher commented on #4813
Thanks @rbisol! The docs have been updated, and the changes should be live soon :+1:

[2022-03-17 19:52] #4813 closed

[2022-03-18 12:51] marandaneto commented on #4687
@imatwawana can we clarify that on the docs? we'd need to elaborate that `unknown` isn't actually a bad thing, it just does not have a status, but right now this is not written in the docs clearly and makes it confusing.

[2022-03-18 14:27] adinauer commented on #4535
cc @maciejwalkowiak

[2022-03-18 23:34] bruno-garcia opened #4853 "Add missing platforms for `upload-dif`"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Multiple

### Description

Only 3 platforms (Android, Native and Wasm) have the content:

https://github.com/getsentry/sentry-docs/tree/master/src/includes/upload-dif

This means, that we show this, to all other platforms:
![image](https://user-images.githubusercontent.com/1633368/159096892-e7bc3973-7e8c-40c2-83e1-6723580cd575.png)

### S

[2022-03-21 06:43] Eij014 opened #4858 "Sentry Alerts question"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Alerts

### Description

How sentry find new issure?
Compare the new event with the others in the cache, or in the clickhouse, or some other way？

### Suggested Solution

none

[2022-03-21 13:38] denizdogan commented on #4542
Issues with this solution

1. The article is paywalled
2. The proposed solution is essentially a hack

Are we certain that there's no simpler way to do this?

[2022-03-21 15:34] imatwawana commented on #4853
@bruno-garcia, it looks like the page this include is on https://docs.sentry.io/platforms/android/data-management/debug-files/upload/ only shows up for:
- native
- android
- cocoa
- apple
- unity

So it would be simplest to hide this page from the menu for cocoa, apple, and unity.

[2022-03-21 15:37] getsentry-release commented on #4858
Routing to @getsentry/workflow for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-03-21 15:37] getsentry-release commented on #4858
Routing to @getsentry/owners-ingest for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-03-21 15:38] getsentry-release commented on #4858
Routing to @getsentry/owners-ingest for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-03-22 07:19] #4602 closed

[2022-03-22 12:17] untitaker commented on #4858
Please refer to our [product documentation about alerts](https://docs.sentry.io/product/alerts/).

[2022-03-22 12:17] #4858 closed

[2022-03-22 13:49] imatwawana commented on #4686
@getsentry/owners-ingest bump

[2022-03-22 14:02] untitaker commented on #4686
hi, i don't think we got notified for this issue. some tags are automatically created in ingest for sure, but some sdks also set tags automatically afaik. so i think the list of derived tags we could set up similarly to how Configuration Options is defined per-platform

on the other hand, I think the broader ask here is which fields can be searched for, and that's a more complicated question to an

[2022-03-22 14:12] marandaneto commented on #4687
@imatwawana I believe this should be somewhere available for all SDKs, because https://docs.sentry.io/product/performance/metrics/#failure-rate is in the product docs and a bit hidden, I believe most users go directly to the SDK platform and start setting the performance feature up and get confused with the status, it's not React Native only.

We can also ask input from @sdzhong :)

[2022-03-22 21:08] lobsterkatie opened #4865 "surprising behavior of `supported`/`notSupported` when platform has fallback"
### Steps to Reproduce

1. Add an option to the main config/options page
2. Set the `supported` flag to `['javascript']`
3. Build the docs
4. Go to the RN version of the options page

### Expected Result

To not see the option, since RN isn't in the list of supported platforms.

### Actual Result

I do see the option.

### Additional Info

The reason this is happening is the logic used to decide w

[2022-03-22 21:33] yuval-sentry opened #4866 "Is Main thread deadlock in iOS still experimental?"
### Core or SDK?

Platform/SDK

### Which part? Which one?

iOS

### Description

under [iOS docs](https://docs.sentry.io/platforms/apple/guides/ios/) it says: Main thread deadlock (experimental)
Is that still the case? it looks like we do have it in our SDK:
https://github.com/getsentry/sentry-cocoa/blob/c06c857ff90589996b75f63ce289038ffbb29c24/Sources/SentryCrash/Recording/Monitors/SentryCrashMo

[2022-03-23 15:14] lucas-zimerman commented on #4731
I have tested it here: https://sentry.io/organizations/sentry-sdks/issues/3125267581/events/e94e4d20242443e096a1500d7fc852b7/?project=5522756

Since we are dealing with an Xcode project maybe, we should add this tutorial to capacitor https://docs.sentry.io/platforms/apple/dsym/

I might have missed something but I haven't found similar docs for Android, so this issue may only apply for iOS?

[2022-03-24 13:04] imatwawana commented on #4865
Do you know if the workaround here is that we'd have to use the notSupported flag as well? This behaviour doesn't make a lot of sense to me either.

[2022-03-24 17:47] yuval-sentry commented on #4866
Done.
Thanks!

On Thu, Mar 24, 2022 at 5:34 AM Isabel ***@***.***> wrote:

[2022-03-25 02:58] lobsterkatie commented on #4865
Yup, that's exactly what we have to do, almost like RN were actually `javascript.react-native`.

[2022-03-25 15:39] imatwawana commented on #4686
@sdzhong is there anything more you can add here in response to @untitaker's comment?

[2022-03-25 15:42] imatwawana commented on #4687
@sdzhong - when in the process did you hit this snag of not understanding the transaction.status? I ask so I have a sense of where this information would live.

[2022-03-25 15:46] imatwawana commented on #4776
@Zylphrex - Is this something you can help with? I think you worked on this feature.

[2022-03-25 19:24] Zylphrex commented on #4776
Hi @sdzhong, I 100% agree we have more details explaining the span op and span description in the docs, I'll get that process going.

As for your other ask to overwrite the span op and span description, I don't believe there is a way to do so right now in the SDKs. Can you explain what your use case for this is? Perhaps we can advise you a better way to accomplish it.

[2022-03-25 19:24] getsentry-release commented on #4776
Routing to @getsentry/visibility for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-03-25 21:39] acleywizzo opened #4879 "Build issue"
### Steps to Reproduce

To finish performance monitour

### Expected Result

Solved

### Actual Result

The problem solved

### Additional Info

I need to finish the problem

[2022-03-25 21:41] acleywizzo commented on #4879
Supported

[2022-03-26 20:53] silent1mezzo commented on #4879
@acleywizzo can you please provide details on what your problems are with performance monitoring?

[2022-03-28 22:11] lobsterkatie commented on #4776
Actually, you can do it, just after the fact (using an event processor to go through all of the spans in the event and change their data before the event is sent) rather than at the time the span is created.

[2022-03-28 22:17] lobsterkatie commented on #4776
This is really a larger philosophical question, of how okay we are with having the code snippets in product docs be in only one language (mostly but not always JS), knowing that there are obviously users using other languages. In a perfect world, every code snippet would exist in every language and users would get to choose, but that would also likely be a whole lot of work (that I don't see anyon

[2022-03-29 16:10] edwardgou-sentry commented on #4776
Hey Katie, is this the relevant doc for overwriting span data with an Event Processor?
https://docs.sentry.io/platforms/react-native/enriching-events/event-processors/
This is under the react-native platform which I believe might be most relevant to @sdzhong

We've also backlogged a ticket to expand on explaining span op and span description in our docs.

[2022-03-29 17:47] imatwawana commented on #4776
Right now, we don't have a way of allowing users to choose their platform on the product side of the docs (that functionality doesn't work on the product side), so we're stuck with one flavour when using an example code snippet in product docs.

[2022-03-30 02:22] lobsterkatie commented on #4776
Yup, I know. That's part of why I think it'd be a major undertaking, because someone would first have to fix the docs system to allow this, and _then_ collect language-specific versions of all of the code snippets (which would be a big enough project in and of itself!).

[2022-03-30 13:56] marandaneto commented on #4845
The downside of it is that if people copy-paste that, everything would be disabled by default.
That was the idea behind adding the default values.

[2022-04-06 18:07] marandaneto opened #4908 "Document SentryAssetBundle for Flutter"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-dart

### Description

SentryAssetBundle performance on Flutter isn't documented.

### Suggested Solution

Document SentryAssetBundle for Flutter performance.

[2022-04-06 23:42] gwmccull opened #4910 "either type or documentation for withTouchEventBoundary is wrong"
### Core or SDK?

Platform/SDK

### Which part? Which one?

withTouchEventBoundary

### Description

the [documentation](https://docs.sentry.io/platforms/react-native/touchevents/?_ga=2.23176120.384733350.1649264757-2085913855.1645043437#using-the-withtoucheventboundary-higher-order-component) for withTouchEventBoundary does not show the options property being used but the types indicate that it's

[2022-04-07 13:41] getsentry-release commented on #4910
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-04-07 17:04] stefanosiano opened #4915 "Wrong left header behaviour in "Contributing to docs" section"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Contributing to docs

### Description

I was having a look at the “Contributing to docs” page https://docs.sentry.io/contributing/
I found an issue in the headers on the left, which occurs only when i’m visiting one of the “root” pages of that header.

Basically if I’m in one of:
https://docs.sentry.io/contributing/environment/
htt

[2022-04-07 18:04] imatwawana opened #4916 "add directions for non-vercel prod setup for next.js"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Next.js

### Description

From Slack:

- i need to expose auth token inside of cloud builder which is more complicated than exposing it in something like google cloud run
- you basically need docker args, and in GCP you need substitutions for those

### Suggested Solution

- need docker and/or google cloud builder specific instructions
-

[2022-04-07 18:04] imatwawana commented on #4916
@AbhiPrasad - can you review and make sure I captured everything here?

[2022-04-08 06:08] marandaneto commented on #4910
@jennmueng can you double-check this? thanks.

[2022-04-08 06:09] #4908 closed

[2022-04-09 12:39] #4910 closed

[2022-04-11 16:46] jas-kas opened #4927 "Discover homepage: Bolding is broken"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Discover Queries homepage
https://docs.sentry.io/product/discover-queries/

### Description

I noticed on the Discover Queries homepage that in the first paragraph, the bolding of "Discover" is broken and we show double asterisks. I looked into the code and couldn't identify the issue.

<img width="684" alt="Screen Shot 2022-04-11

[2022-04-11 19:14] #4927 closed

[2022-04-14 08:00] smeubank opened #4939 "Update JS Docs for ExtraErrorData"
### Core or SDK?

Platform/SDK

### Which part? Which one?

https://docs.sentry.io/platforms/javascript/guides/react/configuration/integrations/plugin/#extraerrordata

### Description

Customer request:

It’s safe to use. But it’s currently not part of public api, meaning it might suddenly change in the future. Should we change it, it will most likely not break anything on their part.

### Suggest

[2022-04-14 13:16] getsentry-release commented on #4939
[Failed](https://github.com/getsentry/sentry-docs/actions/runs/2167408052) to route to `Team: Web Frontend`.  😕

Defaulting to @getsentry/open-source for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-04-14 13:24] getsentry-release commented on #4939
Routing to @getsentry/team-web-sdk-frontend for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-04-14 17:50] jensenbox opened #4941 "Setting up User Feedback for Ruby goes to 404"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Ruby

### Description

On this page there is a hyperlink in the Setup section: https://docs.sentry.io/product/user-feedback/#set-up

When you choose "Ruby" it goes to a 404

### Suggested Solution

Have a Ruby or Rails specific set of instructions - which do not seem to exist from what I can tell.

[2022-04-14 20:40] imatwawana commented on #2854
Resolved on [PR 4330](https://github.com/getsentry/sentry-docs/pull/4330)

[2022-04-14 20:40] #2854 closed

[2022-04-15 20:13] getsentry-release commented on #4941
Routing to @getsentry/team-web-sdk-backend for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-04-16 18:07] imatwawana commented on #4941
@getsentry/team-web-sdk-backend - Does the functionality for this exist and it's just not documented or or does it not exist? And if not, are there plans to add it?

[2022-04-19 09:59] sl0thentr0py commented on #4941
All the other language pages just go the same page (`showReportDialog` in the JS SDK) so we can just add a link for ruby as well.

[2022-04-19 13:25] #4941 closed

[2022-04-19 18:46] lucas-zimerman commented on #4206
@philipphofmann Is this also relevant for Flutter and React Native?

[2022-04-19 21:34] rebeccabilbro opened #4948 "Typo in Welcome to Sentry page"
### Core or SDK?

Core Sentry product

### Which part? Which one?

landing page

### Description

There is a minor typo in the landing page (Welcome to Sentry). Under the heading "Install Sentry" the word "languages" is misspelled.

![Screen Shot 2022-04-19 at 5 27 08 PM](https://user-images.githubusercontent.com/8760385/164105385-be50d8f7-b44b-4d87-af11-e2763adb2e3f.png)

### Suggested Solution

[2022-04-20 07:09] adam000034 opened #4950 "Missing information on what exactly is migrated over from opensource to SaaS in export section"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Migration

### Description

Right now according to the migration docs [[here:](https://docs.sentry.io/product/sentry-basics/migration/#3-export-your-data)] it seems information is covered at a high level.

### Suggested Solution

A high-level description of what data would be migrated over would be helpful in the Export Your Data s

[2022-04-20 07:21] adam000034 opened #4951 "Missing steps for exporting data"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Migration, Exporting Data

### Description

Right now it is not clear if the user does not wish to use Docker to generate what other options do they have in generating that export.  [https://docs.sentry.io/product/sentry-basics/migration/#3-export-your-data](https://docs.sentry.io/product/sentry-basics/migration/#3-export-your-data

[2022-04-20 15:02] dashed commented on #4948
@rebeccabilbro This should be already fixed in https://github.com/getsentry/sentry/pull/33748

[2022-04-20 15:02] #4948 closed

[2022-04-20 15:09] imatwawana commented on #4948
thanks @dashed!

[2022-04-21 15:23] imatwawana opened #4964 "some rust variables disappearing against code block background"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Rust

### Description

The word `dependencies` in the install code block on the page below is present, but not showing up against the dark background of the code snippet:
https://docs.sentry.io/platforms/rust/#install

![image](https://user-images.githubusercontent.com/76437239/164490817-fb442fab-aa9f-4764-982f-f8c427240073.png)
![image](

[2022-04-22 12:38] marandaneto commented on #4398
Just a short description + link to the integrations that do that automatically would be nice

[2022-04-22 13:32] imatwawana commented on #4950
Hi @adam000034, we're looking at making this information more robust, but I just wanted to check if you'd seen this brief explanation further up on the same page:

Does this provide the level of detail you're looking for or are you looking for more?

[2022-04-22 16:06] adam000034 commented on #4950
@imatwawana Actually I think we are good.  Now that I read it again and discussing with my team, I think we are good for now.  Thanks!

[2022-04-22 16:06] adam000034 commented on #4950
Feel free to close this

[2022-04-22 22:30] #4950 closed

[2022-04-22 22:30] #4951 closed

[2022-04-24 00:06] #4879 closed

[2022-04-26 02:33] sentryadam0000345 opened #4975 "Example of how to set up Relay with kube manifest files"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Relay

### Description

Right now we do not have docs or samples on how to setup Sentry Relay with Kubernetes and Docker.  Please find the below kube manifest samples.  These should serve as a good starting point to help folks out.

### Suggested Solution

Kube manifest code examples are below, feel free to use whatever is helpful:

[2022-04-26 02:52] sentryadam0000345 opened #4976 "Kubernetes Resource Definitions For Terraform To Get Relay Setup"
### Core or SDK?

Core Sentry product

### Which part? Which one?

Relay, https://docs.sentry.io/product/relay/

### Description

Right now we do not have docs or samples on how to setup Sentry Relay with Terraform. Please find the below Terraform Kubernetes resources file. They use the manifests that are mentioned here: https://github.com/getsentry/sentry-docs/issues/4975.

### Suggested Solution

[2022-04-26 13:57] imatwawana commented on #4975
@sentryadam0000345 - is this a pretty common use case? How often does this come up?

[2022-04-26 14:08] philipphofmann commented on #4206
@lucas-zimerman we already updated the docs for Flutter and React Native, see https://github.com/getsentry/sentry-docs/pull/4201

[2022-04-26 15:19] #4397 closed

[2022-04-27 12:21] brandlee opened #4983 "Sentry OKHttpInterceptor not working"
### Steps to Reproduce

1. I did it as the document said
2. network 404 captured
3. not report to the server, in sentry.io, I cannot see the log

### Expected Result

see the error log of the 404 network request

### Actual Result

nothing

### Additional Info

_No response_

[2022-04-27 13:07] imatwawana commented on #4983
Hi @brandlee - this looks more like a support issue than an issue with our documentation. Please check out our [support site](https://help.sentry.io/), Discord server, or [Forum](https://forum.sentry.io/c/sdks/5) to get some help.

[2022-04-27 13:07] #4983 closed

[2022-04-27 20:12] #4398 closed

[2022-04-28 05:27] adam000034 commented on #4975
@imatwawana  It may not be common but I think it is worth including these examples for folks who need.  @jan-auer  also mentioned it would be helpful too, not sure if he wants to add more color here

[2022-04-28 20:40] #3504 closed

[2022-04-28 21:18] imatwawana commented on #4975
My concern is that if there are a number of these use cases that we're not documenting (and have no intention of documenting), then documenting one or two of them conceivably makes the docs look less complete rather than more complete. @jan-auer can you speak to why this should be there vs other use cases or if we should be looking at adding more use cases? Happy to talk offline if that makes more

[2022-04-29 12:11] smeubank opened #4993 "beforeSend for PII links to Platform specific broken"
### Core or SDK?

Platform/SDK

### Which part? Which one?

https://docs.sentry.io/platform-redirect/?next=configuration/options/%23hooks

### Description

https://docs.sentry.io/product/relay/#pii-data-scrubbing

Starting from here then follow the link for [before-send hooks](https://docs.sentry.io/platform-redirect/?next=configuration/options/%23hooks)

![image](https://user-images.githubusercon

[2022-05-03 17:25] #4993 closed

[2022-05-05 14:34] snaumov opened #5009 "Removal of Javascript/advanced-usage.mdx section"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Javascript

### Description

There was an advanced usage guide in Javascript section that, in particular, described how to directly use `Hub` and `BrowserClient` to avoid context conflicts in a microfrontend application.

The section was first added in this PR:
https://github.com/getsentry/sentry-docs/pull/481

and was removed in this PR:

[2022-05-05 14:57] getsentry-release commented on #5009
Routing to @getsentry/team-web-sdk-frontend for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-05-05 14:58] AbhiPrasad commented on #5009
Hey, thanks for writing in! This was moved to the troubleshooting section: https://docs.sentry.io/platforms/javascript/troubleshooting/#using-a-client-directly

There's also a great article about this: https://scriptedalchemy.medium.com/distributed-logging-in-federated-applications-with-sentry-f4249aa66e20

[2022-05-06 00:19] sebastiangrail opened #5014 "Incomplete docs for valid tag keys and values"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Tags on any platform

### Description

The [tags documentation](https://docs.sentry.io/platforms/apple/guides/ios/enriching-events/tags/) mentions some restrictions (key size, value size), but not others (for example, valid characters).

### Suggested Solution

Provide a complete specification of valid tag keys and values in the docs.

[2022-05-06 01:16] snaumov commented on #5009
@AbhiPrasad thanks a lot, I missed the troubleshooting section.

[2022-05-06 01:16] #5009 closed

[2022-05-06 13:31] imatwawana commented on #5014
@sebastiangrail, what was the problem you came up against when trying to define your tags? Invalid characters, reserved keys, or something else?

[2022-05-06 15:24] sdzhong opened #5015 "Grammar Edit"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Django

### Description

In section https://docs.sentry.io/platforms/python/guides/django/#verify,

... should be: Logging with any logger creates breadcrumbs `with` the [Logging](https://docs.sentry.io/platforms/python/guides/logging/) integration, which is enabled by default.

Note: I was unable to find the text to make this change via

[2022-05-06 20:07] armcknight commented on #4542
The link to the article is already in our docs today, I think this is a separate discussion. Whether we keep that link or write our own instructions, this issue was simply to raise the visibility of the issue/solution to avoid people encountering the error when onboarding, or to help them recover from it.

[2022-05-06 20:14] armcknight commented on #4538
True. I think we should link to that page from here:

![Screen Shot 2022-05-06 at 4 10 33 PM](https://user-images.githubusercontent.com/3241469/167210096-eaea25ff-9cef-4cb7-9b6c-1f3d76f25f70.png)

like we do earlier in the page here:

![Screen Shot 2022-05-06 at 4 09 56 PM](https://user-images.githubusercontent.com/3241469/167210110-7931a298-c1b9-4403-afa3-1933b5d0f4c5.png)

The link to the page y

[2022-05-06 21:45] #5015 closed

[2022-05-09 10:29] PawanFyers opened #5020 "userFeedback variable is not defined but used"
### Core or SDK?

Platform/SDK

### Which part? Which one?

Flutter SDK

### Description

Doc Link: https://docs.sentry.io/platforms/flutter/enriching-events/user-feedback/

[code]

`Sentry.captureUserFeedback(userFeedback);`
userFeedback variable is not defined

### Suggested Solution

`Sentry.captureUserFeedback(feedback);`

Instead of userFeedback, feedback variable is defined & should be used.

[2022-05-09 12:11] marandaneto opened #5022 "Add autoInitializeNativeSdk support for Flutter"
### Core or SDK?

Platform/SDK

### Which part? Which one?

sentry-dart

### Description

The usage of `autoInitializeNativeSdk` for Flutter is not documented.
https://docs.sentry.io/platforms/flutter/configuration/options/

The usage is documented for RN.
https://docs.sentry.io/platforms/react-native/configuration/options/#autoInitializeNativeSdk

Native Initialization page also does not exist fo

[2022-05-09 13:04] getsentry-release commented on #5020
Routing to @getsentry/team-mobile for [triage](https://develop.sentry.dev/processing-tickets/#3-triage). ⏲️

[2022-05-09 15:27] marandaneto commented on #5020
Thanks @PawanFyers
I've used `userFeedback` to align with the Android docs.

[2022-05-09 15:29] #5020 closed

[2022-05-09 20:32] imatwawana opened #5026 "Add GH actions for image optimization"
### Core or SDK?

Core Sentry product

### Which part? Which one?

All (applies to SDK and Product docs)

### Description

Right now, we have to depend on folks to remember to only use images that have the correct resolution and that have been compressed in Docs.

### Suggested Solution

Add image compression and resolution warnings as part of GitHub actions for PRs in this repo.

[2022-05-10 00:50] sebastiangrail commented on #5014
The specific problem I ran into was invalid characters in tag values (`\n`). Because Sentry drops the entire tag value, I'd rather modify values before sending them. For this to work in a robust way, it would be great to have a complete specification of valid keys and tags.